.container{
    width: 100%;
    color: rgb(64, 64, 64);
    padding: 0;
    padding-bottom: 160px;
    font-weight: 100;
}

/******************** 页头样式 ********************/
.header{
    width: 100%;
    height: 56px;
    margin: 0;
    background: #FFFFFF;
    border-bottom: 1px solid #F5F5F7;
}
.header .header-logo{
    height: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-left: 32px;
}

.header .header-nav{
    height: 100%;
    line-height: 56px;
}
.header .header-nav ul{
    display: flex;
    justify-content: center;
    align-items:center;
}
.header .header-nav ul li{
    margin-right: 53px;
}
.header .header-nav ul li.active{
    height:53px;
    line-height: 53px;
    border-bottom: 3px solid #FF4F4C;
}
.header .header-nav ul li a{
    color: #404040;
}
.header .header-nav ul li a:hover{
    color: #FF4F4C;
}

.header .header-personal-center{
    height: 100%;
    line-height: 78px;
    /* display: inline-flex;
    flex-direction: row; */
}
.header .header-personal-center .header-my-resume{
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.header .header-personal-center .header-dividing-line{
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px;
}
.header .header-personal-center .header-dividing-line .line{
    height: 30px;
    border-right: 1px solid #F5F5F7;
}

.header .header-personal-center .header-my-resume .resume-btn{
    display: inline-block;
    width: 120px;
    height: 36px;
    color: #FF4F4C;
    border: 1px solid #FF4F4C;
    background-color: #FFFFFF;
}
.header .header-personal-center .header-my-resume .resume-btn:hover{
    color: #FFFFFF;
    background-color: #FF4F4C;
}
.header .header-personal-center .header-personal-center-menu{
    height: 100%;
    line-height: 56px;
    padding-right: 7px;
}
.header .header-personal-center .header-personal-center-menu a{
    color: #404040;
}
.header .header-personal-center .header-personal-center-menu a .personal-icon{
    color: #FF4F4C;
    font-size: 20px;
    margin-right: 11px;
}
.header .header-personal-center .header-personal-center-menu .dropdown-menu{
    width: 185px;
}
.header .header-personal-center .header-personal-center-menu .dropdown-menu li{
    /* padding-left: 40px; */
    height: 52px;
}
.header .header-personal-center .header-personal-center-menu .dropdown-menu li a{
    height: 100%;
    line-height: 52px;
}
.header .header-personal-center .header-personal-center-menu .dropdown-menu li a .menu-item-icon{
    margin-left: 20px;
    margin-right: 20px;
}

/******************** 页面主题样式 ********************/
.main{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
.main .main-top{
    width : 100%;
    margin: 28px 0;
    padding-right: 28px;
}
.main .main-top .main-top-ctrl{
    padding: 0;
}
.main .main-top .main-top-ctrl>a{
    display: inline-block;
    width: 100px;
    height: 32px;
    color: #fff;
    margin-right: 20px;
    border-radius: 2px;
    line-height: 32px;
    text-align: center;
}
.main .main-top .main-top-ctrl>a:nth-child(1){
    background-color: rgb(80, 164, 255);
}
.main .main-top .main-top-ctrl>a:nth-child(2){
    background-color: rgb(248, 99, 49);
}
.main .main-top .main-top-ctrl>a:nth-child(3){
    background-color: rgb(255, 79, 76);
}
.main .main-top .main-top-ctrl>a:nth-child(1):hover{
    background-color: rgba(80, 164, 255, 0.85)
}
.main .main-top .main-top-ctrl>a:nth-child(3):hover{
    background-color: rgba(255, 79, 76, 0.85)
}
.main .main-top .main-top-ctrl>a:nth-child(2):hover{
    background-color: rgba(248, 99, 49, 0.85)
}

.main .main-content{width: 100%;margin: 0;padding-right:28px}

/***左边简历信息样式***/
.main .main-content .left-panel{
    /* height: 300px; border: 1px solid #9C9C9C; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 36px;
    padding-right: 20px;
}
.main .main-content .left-panel>div{
    background: #FFF;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
    padding: 22px 24px;
}
.main .main-content .left-panel .resume-score .resume-score-top{
    display: flex;
    justify-content: flex-start;
    align-items: center
}
.main .main-content .left-panel .resume-score .resume-score-top .resume-score-top-title{
    font-size: 14px;
}
.main .main-content .left-panel .resume-score .resume-score-top .resume-score-top-score{
    font-size: 16px;
}
.main .main-content .left-panel .resume-score .resume-score-progress{
    margin-top: 22px;
    margin-bottom: 18px;
    width: 100%;
}
.main .main-content .left-panel .resume-score .resume-score-progress .resume-score-progress-bar{
    width: 100%;
    height: 5px;
    background: #E8E8E8;
    border-radius: 3px;
    position: relative;
}
.main .main-content .left-panel .resume-score .resume-score-progress .resume-score-progress-bar .bar-value{
    display: inline-block;
    width: 74%;
    height: 5px;
    background: #FF4F4C;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
}
.main .main-content .left-panel .resume-score .resume-score-desc p{
    margin: 0;
}

.main .main-content .left-panel .resume-advice,
.main .main-content .left-panel .resume-match{

}
.main .main-content .left-panel .resume-advice .resume-advice-top,
.main .main-content .left-panel .resume-match .resume-match-top{
    padding-bottom: 22px;
    border-bottom: 1px solid #F5F5F7;
    display: flex;
    justify-content: space-between;
    transition: none;
    -moz-transition: none; /* Firefox 4 */
    -webkit-transition: none; /* Safari 和 Chrome */
    -o-transition: none; 
}
.main .main-content .left-panel .resume-advice .resume-advice-top .resume-advice-top-title,
.main .main-content .left-panel .resume-match .resume-match-top .resume-match-top-title{
    color: #4D4D4D;
}
.main .main-content .left-panel .resume-advice .resume-advice-top .resume-advice-top-btn,
.main .main-content .left-panel .resume-match .resume-match-top .resume-match-top-btn{
    cursor: pointer;
}
.main .main-content .left-panel .resume-advice .resume-advice-top .resume-advice-top-btn .advice-num,
.main .main-content .left-panel .resume-match .resume-match-top .resume-match-top-btn .match-num{
    color: #50A4FF;
}
.main .main-content .left-panel .resume-advice .resume-advice-top .resume-advice-top-btn .btn-icon,
.main .main-content .left-panel .resume-match .resume-match-top .resume-match-top-btn .btn-icon{
    color: #D8D8D8;
    margin-left: 6px;
}
.main .main-content .left-panel .resume-advice .resume-advice-items,
.main .main-content .left-panel .resume-match .resume-match-items{}
.main .main-content .left-panel .resume-advice .resume-advice-item,
.main .main-content .left-panel .resume-match .resume-match-item{
    padding: 22px 0;
    border-bottom: 1px solid #F5F5F7;
}
.main .main-content .left-panel .resume-advice .resume-advice-item .advice-item-content p,
.main .main-content .left-panel .resume-match .resume-match-item .match-item-content p{
    margin: 0;
}
.main .main-content .left-panel .resume-advice .resume-advice-item .advice-item-link,
.main .main-content .left-panel .resume-match .resume-match-item .match-item-link{
    margin-top: 6px;
}
.main .main-content .left-panel .resume-advice .resume-advice-item .advice-item-link a,
.main .main-content .left-panel .resume-match .resume-match-item .match-item-link.disable a{
    color: #50A4FF;
}
.main .main-content .left-panel .resume-advice .resume-advice-item .advice-item-link a:hover,
.main .main-content .left-panel .resume-match .resume-match-item .match-item-link.disable a:hover{
    color: #007BFF;
    text-decoration: underline !important;
}
.main .main-content .left-panel .resume-advice .resume-advice-item .advice-item-btns,
.main .main-content .left-panel .resume-match .resume-match-item .match-item-btns{
    margin-top: 14px;
}
.main .main-content .left-panel .resume-advice .resume-advice-item .advice-item-btns .btns-edit,
.main .main-content .left-panel .resume-match .resume-match-item .match-item-btns .btns-edit{
    display:inline-block;
    width: 68px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border-radius: 2px;
    border:1px solid #FF4F4C;
    color: #FF4F4C;
}
.main .main-content .left-panel .resume-advice .resume-advice-item .advice-item-btns .btns-edit:hover,
.main .main-content .left-panel .resume-match .resume-match-item .match-item-btns .btns-edit:hover{
    border:1px solid #FF4F4C;
    color: #FFFFFF;
    background-color: #FF4F4C;
}
.main .main-content .left-panel .resume-advice .resume-advice-item .advice-item-btns .btns-ignore,
.main .main-content .left-panel .resume-match .resume-match-item .match-item-btns .btns-ignore{
    display:inline-block;
    width: 68px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border-radius: 2px;
    border: 1px solid #F5F5F7;
    color: #9C9C9C;
    margin-left: 15px;
}
.main .main-content .left-panel .resume-advice .resume-advice-item .advice-item-btns .btns-ignore:hover,
.main .main-content .left-panel .resume-match .resume-match-item .match-item-btns .btns-ignore:hover{
    color: #404040;
    background: #F5F5F7;
}
.main .main-content .left-panel .resume-advice .resume-advice-more,
.main .main-content .left-panel .resume-match .resume-match-more{
    width: 100%;
    padding-top: 26px;
}
.main .main-content .left-panel .resume-advice .resume-advice-more a,
.main .main-content .left-panel .resume-match .resume-match-more a{
    display: block;
    width: 140px;
    height: 36px;
    border-radius: 2px;
    margin: 0 auto;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    background: rgb(255, 79, 76);
}
.main .main-content .left-panel .resume-advice .resume-advice-more a:hover,
.main .main-content .left-panel .resume-match .resume-match-more a:hover{
    background-color: rgba(255, 79, 76,0.85)
}

.main .main-content .left-panel .resume-advice.close-panel .resume-advice-top-btn .btn-icon i,
.main .main-content .left-panel .resume-match.close-panel .resume-match-top-btn .btn-icon i{
    transform:rotate(180deg);
    -ms-transform:rotate(180deg); 	/* IE 9 */
    -moz-transform:rotate(180deg); 	/* Firefox */
    -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
    -o-transform:rotate(180deg); 
}
.main .main-content .left-panel .resume-advice.close-panel .resume-advice-content,
.main .main-content .left-panel .resume-match.close-panel .resume-match-content{
    display: none;
}
.main .main-content .left-panel .resume-advice.close-panel .resume-advice-top,
.main .main-content .left-panel .resume-match.close-panel .resume-match-top{
    padding-bottom: 0px;
    border-bottom: none;
}

/***右边编辑器样式***/
.main .main-content .right-panel{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 0;
    padding-right: 0;
}

/**编辑器头部控制器样式**/
.main .main-content .right-panel .right-panel-control-bar{
    width: 100%;
    min-height: 68px;
    background: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0,0,0,0.06);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 22px;
    font-size: 12px;
    margin: 0;
}
.main .main-content .right-panel .right-panel-control-bar>div{
    height: 28px;
    line-height: 28px;
}

/*撤销及前进*/
.main .main-content .right-panel .right-panel-control-bar .control-bar-undo-redo{
    display: flex;
    flex-direction: row;
}
.main .main-content .right-panel .right-panel-control-bar .control-bar-undo-redo>div{
    color: #9C9C9C;
    cursor: pointer;
    transition: none;
    -moz-transition: none; /* Firefox 4 */
    -webkit-transition: none; /* Safari 和 Chrome */
    -o-transition: none;  
}
.main .main-content .right-panel .right-panel-control-bar .control-bar-undo-redo>div:hover{
    color: #FF4F4C;
}
.main .main-content .right-panel .right-panel-control-bar .control-bar-undo-redo .redo-btn{
    margin-left: 10px;
}

/*颜色选择器*/
.main .main-content .right-panel .right-panel-control-bar .control-bar-color{
   border: 1px solid #EBEBEB;
   padding: 0 10px; 
   padding-left: 31px;
   position: relative;
   cursor: pointer;
   min-width: 74px;
}
.main .main-content .right-panel .right-panel-control-bar .control-bar-color .bar-color-selector .selector-color{
    display: inline-block;
    width: 14px;
    height: 14px;
    background: #404040;
    position: absolute;
    top: 7px;
    left: 10px;
}
.main .main-content .right-panel .right-panel-control-bar .control-bar-color .bar-color-selector .selecto-icon{
    color: #D8D8D8;
    position: absolute;
    top: 0;
    right: 7px;
}
.main .main-content .right-panel .right-panel-control-bar .control-bar-color .color-picker{
    position: absolute;
    top: 30px;
    left: 0;
    display: inline-flex;
    padding: 7px 10px;
    background: #FFFFFF;
    border: 1px solid #D8D8D8;
    z-index: 9;
}
.main .main-content .right-panel .right-panel-control-bar .control-bar-color .color-picker .color-item{
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 3px;
}
.main .main-content .right-panel .right-panel-control-bar .control-bar-color .color-picker .color-item:nth-child(1){background-color: #404040;}
.main .main-content .right-panel .right-panel-control-bar .control-bar-color .color-picker .color-item:nth-child(2){background-color: #dc2127;}
.main .main-content .right-panel .right-panel-control-bar .control-bar-color .color-picker .color-item:nth-child(3){background-color: #ff7f00;}
.main .main-content .right-panel .right-panel-control-bar .control-bar-color .color-picker .color-item:nth-child(4){background-color: #5484ed;}
.main .main-content .right-panel .right-panel-control-bar .control-bar-color .color-picker .color-item:nth-child(5){background-color: #51b749;}
.main .main-content .right-panel .right-panel-control-bar .control-bar-color .color-picker .color-item:nth-child(6){background-color: #a757e5;}

/*字体选择器*/
.main .main-content .right-panel .right-panel-control-bar .control-bar-font{
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}
.main .main-content .right-panel .right-panel-control-bar .control-bar-font .font-family-selector{
    border: 1px solid #EBEBEB;
    padding: 0 10px; 
    padding-right: 20px;
    position: relative;
    cursor: pointer;
    height: 100%;
    margin-left: 12px;
    display: inline-flex;
    justify-content: space-between;
    min-width: 80px;
}
.main .main-content .right-panel .right-panel-control-bar .control-bar-font .font-family-selector .selector-icon{
    position: absolute;
    right: 7px;
    top: 0px;
    color: #D8D8D8;
}
.main .main-content .right-panel .right-panel-control-bar .control-bar-font .font-family-selector .selector-list{
    position: absolute;
    background: #FFFFFF;
    border: 1px solid #D8D8D8;
    width: 100%;
    top: 30px;
    left: 0px;
    text-align: center;
    z-index: 9;
}
.main .main-content .right-panel .right-panel-control-bar .control-bar-font .font-family-selector .selector-list li:hover{
    background: #F5F5F7;
}

.main .main-content .right-panel .right-panel-control-bar .control-bar-font .font-size-selector{
    border: 1px solid #EBEBEB;
    padding: 0 10px; 
    padding-right: 20px;
    position: relative;
    cursor: pointer;
    height: 100%;
    margin-left: 12px;
    display: inline-flex;
    justify-content: space-between;
    min-width: 56px;
}
.main .main-content .right-panel .right-panel-control-bar .control-bar-font .font-size-selector .selector-icon{
    position: absolute;
    top: 0px;
    right: 7px;
    color: #D8D8D8;
}
.main .main-content .right-panel .right-panel-control-bar .control-bar-font .font-size-selector .selector-list{
    position: absolute;
    background: #FFFFFF;
    border: 1px solid #D8D8D8;
    width: 100%;
    top: 30px;
    left: 0px;
    text-align: center;
    z-index: 9;
}
.main .main-content .right-panel .right-panel-control-bar .control-bar-font .font-size-selector .selector-list li:hover{
    background: #F5F5F7;
}
/*间距选择器*/
.main .main-content .right-panel .right-panel-control-bar .control-bar-spacing{
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}
.main .main-content .right-panel .right-panel-control-bar .control-bar-spacing .spacing-selector{
    border: 1px solid #EBEBEB;
    padding: 0 10px; 
    padding-right: 20px;
    position: relative;
    cursor: pointer;
    height: 100%;
    margin-left: 12px;
    display: inline-flex;
    justify-content: space-between;
    min-width: 48px;
}
.main .main-content .right-panel .right-panel-control-bar .control-bar-spacing .spacing-selector .selector-icon{
    position: absolute;
    top: 0px;
    right: 7px;
    color: #D8D8D8;
}
.main .main-content .right-panel .right-panel-control-bar .control-bar-spacing .spacing-selector .selector-list{
    position: absolute;
    background: #FFFFFF;
    border: 1px solid #D8D8D8;
    width: 100%;
    top: 30px;
    left: 0px;
    text-align: center;
    z-index: 9;
}
.main .main-content .right-panel .right-panel-control-bar .control-bar-spacing .spacing-selector .selector-list li:hover{
    background: #F5F5F7;
}

/*自动一页纸*/
.main .main-content .right-panel .right-panel-control-bar .control-bar-one-paper{}
.main .main-content .right-panel .right-panel-control-bar .control-bar-one-paper a{
    display: inline-block;
    padding: 0 13px;
    border: 1px solid #EBEBEB;
    border-radius: 2px;
    color: #404040;
    min-width: 100px;
}
.main .main-content .right-panel .right-panel-control-bar .control-bar-one-paper a i{
    margin-right: 10px;
    /* color: #404040; */
    transition: none;
    -moz-transition: none; /* Firefox 4 */
    -webkit-transition: none; /* Safari 和 Chrome */
    -o-transition: none; 
}
.main .main-content .right-panel .right-panel-control-bar .control-bar-one-paper a:hover{
    border-color: #FF4F4C;
    color: #FF4F4C;
}

/*自动排序*/
.main .main-content .right-panel .right-panel-control-bar .control-bar-sort{}
.main .main-content .right-panel .right-panel-control-bar .control-bar-sort a{
    display: inline-block;
    padding: 0 13px;
    border: 1px solid #EBEBEB;
    border-radius: 2px;
    color: #404040;
    min-width: 84px;
}
.main .main-content .right-panel .right-panel-control-bar .control-bar-sort a i{
    /* color: #404040; */
    transition: none;
    -moz-transition: none; /* Firefox 4 */
    -webkit-transition: none; /* Safari 和 Chrome */
    -o-transition: none; 
}
.main .main-content .right-panel .right-panel-control-bar .control-bar-sort a i:nth-child(2){
    margin-right: 10px;
}
.main .main-content .right-panel .right-panel-control-bar .control-bar-sort a:hover{
    border-color: #FF4F4C;
    color: #FF4F4C;
}

/*添加模块*/
.main .main-content .right-panel .right-panel-control-bar .control-bar-add-modal{
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}
.main .main-content .right-panel .right-panel-control-bar .control-bar-add-modal .add-modal-selector{
    border: 1px solid #EBEBEB;
    padding: 0 10px; 
    padding-left: 30px;
    position: relative;
    cursor: pointer;
    height: 100%;
    display: inline-flex;
    justify-content: space-between;
    min-width: 94px;
}
.main .main-content .right-panel .right-panel-control-bar .control-bar-add-modal .add-modal-selector .selector-icon{
    position: absolute;
    top: 0px;
    left: 7px;
    bottom: 0px;
    color: #D8D8D8;
}
.main .main-content .right-panel .right-panel-control-bar .control-bar-add-modal .add-modal-selector .selector-list{
    position: absolute;
    background: #FFFFFF;
    border: 1px solid #D8D8D8;
    width: 100%;
    top: 30px;
    left: 0px;
    text-align: center;
    z-index: 9;
}
.main .main-content .right-panel .right-panel-control-bar .control-bar-add-modal .add-modal-selector .selector-list li:hover{
    background: #F5F5F7;
}

/*排版设置*/
.main .main-content .right-panel .right-panel-control-bar .control-bar-typesetting{
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}
.main .main-content .right-panel .right-panel-control-bar .control-bar-typesetting .typesetting-selector{
    border: 1px solid #EBEBEB;
    padding: 0 10px; 
    padding-left: 30px;
    position: relative;
    cursor: pointer;
    height: 100%;
    display: inline-flex;
    justify-content: space-between;
    min-width: 84px;
}
.main .main-content .right-panel .right-panel-control-bar .control-bar-typesetting .typesetting-selector .selector-icon{
    position: absolute;
    top: 0px;
    left: 7px;
    bottom: 0px;
    color: #D8D8D8;
}
.main .main-content .right-panel .right-panel-control-bar .control-bar-typesetting .typesetting-selector .selector-list{
    position: absolute;
    background: #FFFFFF;
    border: 1px solid #D8D8D8;
    width: 220%;
    top: 30px;
    right: 0px;
    text-align: center;
    z-index: 9;
    padding: 12px 0px;
}
.main .main-content .right-panel .right-panel-control-bar .control-bar-typesetting .typesetting-selector .selector-list .selector-item{
    display: flex;
    flex-direction: column;
}
.main .main-content .right-panel .right-panel-control-bar .control-bar-typesetting .typesetting-selector .selector-list .selector-item .item-title{
    color: #9C9C9C;
    font-size: 11px;
    width: 100%;
    text-align: left;
    padding-left: 12px;
}
.main .main-content .right-panel .right-panel-control-bar .control-bar-typesetting .typesetting-selector .selector-list .selector-item .item-typesetting{
    display: flex;
    flex-direction: column;
}
.main .main-content .right-panel .right-panel-control-bar .control-bar-typesetting .typesetting-selector .selector-list .selector-item .dividing-line{
    height: 1px;
    background: #F5F5F7;
    margin-left: 12px;
    margin-right: 12px;
}
.main .main-content .right-panel .right-panel-control-bar .control-bar-typesetting .typesetting-selector .selector-list .selector-item .item-typesetting .typesetting-item{
    width: 100%;
    height: 44px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 12px;
}
.main .main-content .right-panel .right-panel-control-bar .control-bar-typesetting .typesetting-selector .selector-list .selector-item .item-typesetting .typesetting-item:hover{
    background: #F5F5F7;
}
.main .main-content .right-panel .right-panel-control-bar .control-bar-typesetting .typesetting-selector .selector-list .selector-item .item-typesetting .typesetting-item .typesetting-item-img{}
.main .main-content .right-panel .right-panel-control-bar .control-bar-typesetting .typesetting-selector .selector-list .selector-item .item-typesetting .typesetting-item .typesetting-item-text{
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
}
.main .main-content .right-panel .right-panel-control-bar .control-bar-typesetting .typesetting-selector .selector-list .selector-item .item-typesetting .typesetting-item .typesetting-item-text .typesetting-item-text-title{
    line-height: 12px;
}
.main .main-content .right-panel .right-panel-control-bar .control-bar-typesetting .typesetting-selector .selector-list .selector-item .item-typesetting .typesetting-item .typesetting-item-text .typesetting-item-text-subtitle{
    color: #9C9C9C;
    font-size: 10px;
    line-height: 10px;
    margin-top: 5px;
}


/**编辑器主体样式**/
.main .main-content .right-panel .right-panel-resume-editor{
    width: 100%;
    height: 1182px;
    background: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0,0,0,0.06); 
    margin-top: 10px; 
    padding: 0 40px;
    padding-bottom: 4px;
    position: relative;
    border-bottom: 1px solid #FF4F4C;
    overflow: hidden;
}
.main .main-content .right-panel .right-panel-resume-editor .resume-editor-header{
    width: 100%;
    margin: 0px;
}
.main .main-content .right-panel .right-panel-resume-editor .resume-editor-header .school-logo{
    padding-top: 20px;
    padding-left: 30px;
}
.main .main-content .right-panel .right-panel-resume-editor .resume-editor-header .applicant-info{
    padding-top: 50px;
}
.main .main-content .right-panel .right-panel-resume-editor .resume-editor-header .applicant-info .editor-header-title{
    width: 100%;
    text-align: center;
    font-size: 24px;
}
.main .main-content .right-panel .right-panel-resume-editor .resume-editor-header .applicant-info .editor-header-sub-title{
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #666666;
    margin-top: 5px;
}
.main .main-content .right-panel .right-panel-resume-editor .resume-editor-header .applicant-avatar{
    padding-top: 25px;
    padding-right: 0px;
}

.main .main-content .right-panel .right-panel-resume-editor .resume-editor-content{}
.main .main-content .right-panel .right-panel-resume-editor .resume-editor-content .resume-editor-plate{
    padding: 4px;
    border: 2px solid #FFFFFF;
    margin-top: 25px;
}
.main .main-content .right-panel .right-panel-resume-editor .resume-editor-content .resume-editor-plate:hover{
    border-color: #50A4FF;
}
.main .main-content .right-panel .right-panel-resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-title{
    font-size: 18px;
    padding-bottom: 4px;
    border-bottom: 1px solid #F3F3F3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.main .main-content .right-panel .right-panel-resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-title .title-text{}
.main .main-content .right-panel .right-panel-resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-title .title-ctrl-bar{
    display: none;
}
.main .main-content .right-panel .right-panel-resume-editor .resume-editor-content .resume-editor-plate:hover .resume-editor-plate-title .title-ctrl-bar{
    display: block;
}
.main .main-content .right-panel .right-panel-resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-title .title-ctrl-bar>a{
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    border: 1px solid #50A4FF;
    color: #50A4FF;
    font-size: 12px;
    cursor: pointer;
    position: relative;
    transition: none;
    -moz-transition: none; /* Firefox 4 */
    -webkit-transition: none; /* Safari 和 Chrome */
    -o-transition: none; 
}
.main .main-content .right-panel .right-panel-resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-title .title-ctrl-bar>a:hover{
    background-color: #50A4FF;
    color: #FFFFFF;
}

.main .main-content .right-panel .right-panel-resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-title .title-ctrl-bar>a .resume-info-control-popover{
    color:#FFFFFF;
    font-size: 12px;
    position: absolute;
    background: #404040;
    width: 88px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    top: -34px;
    left: -38px;
    display: none;
}
.main .main-content .right-panel .right-panel-resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-title .title-ctrl-bar>a .resume-info-control-popover .popover-arrow{
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    bottom: -5px;
    left: 50%;
    margin-left: -3px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #404040;
}
.main .main-content .right-panel .right-panel-resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-title .title-ctrl-bar>a:hover .resume-info-control-popover{
    display: inline-block;
}

.main .main-content .right-panel .right-panel-resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item{
    line-height: 24px;
    position: relative;
    margin-top: 12px;
}
.main .main-content .right-panel .right-panel-resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item:hover{
    background-color: rgba(80, 164, 255, 0.1);
}
.main .main-content .right-panel .right-panel-resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item .resume-editor-palte-item-ctrl-bar{
    position: absolute;
    top: 0;
    right: -28px;
    padding-left: 20px;
    display: none;
    flex-direction: column;
}
.main .main-content .right-panel .right-panel-resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item:hover .resume-editor-palte-item-ctrl-bar{
    display: flex;
}
.main .main-content .right-panel .right-panel-resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item .resume-editor-palte-item-ctrl-bar>a{
    display: inline-block;
    width: 25px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background-color:rgba(80, 164, 255, 0.1); 
    color: #50A4FF;
    font-size: 12px;
    cursor: pointer;
    margin-bottom: 6px;
}
.main .main-content .right-panel .right-panel-resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item .plate-item-tag{}
.main .main-content .right-panel .right-panel-resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item .plate-item-tag .tag-first-line{
    display: flex;
    justify-content: space-between;
    color: #404040;
}
.main .main-content .right-panel .right-panel-resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item .plate-item-tag .tag-second-line{
    display: flex;
    justify-content: space-between;
    color: #666666;
}
.main .main-content .right-panel .right-panel-resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item .plate-item-content{
    margin-top: 16px;
}
.main .main-content .right-panel .right-panel-resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item .plate-item-content ul{
    list-style: disc inside none;
}
.main .main-content .right-panel .right-panel-resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item .plate-item-content ul li{
    margin-bottom: 16px;
    position: relative;
    padding-left: 24px;
}
.main .main-content .right-panel .right-panel-resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item .plate-item-content ul li .dot{
    position: absolute;
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #999999;
    top: 10px;
    left: 0;
}
.main .main-content .right-panel .right-panel-resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item .plate-item-content ul li:last-child{
    margin: 0;
}
.main .main-content .right-panel .right-panel-resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item input{
    background: inherit;
    border: none;
    padding: 0;
    border-bottom: 1px solid #FFFFFF;
    font-size: 16px;
}
.main .main-content .right-panel .right-panel-resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item:hover input{
    border-bottom:1px solid rgba(80, 164, 255, 0); 
}
.main .main-content .right-panel .right-panel-resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item input.dashed{
    border-bottom-style: dashed;
}
.main .main-content .right-panel .right-panel-resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item .plate-item-tag .tag-first-line span:nth-child(1){
    width: 65%;
    display: inline-block;
}
.main .main-content .right-panel .right-panel-resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item .plate-item-tag .tag-first-line span:nth-child(2){
    width: 20%;
    position: relative;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

/*‘至今’标签样式*/
.to-date{
    position: absolute;
    width: 58px;
    height: 30px;
    padding-left: 5px;
    background: #FFFFFF;
    border: 1px solid #B3B3B3;
    border-radius: 2px;
    box-shadow: 1px 1px 6px rgba(74, 74, 74, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 99;
    cursor: pointer;
}
.to-date .to-date-dot{
    display: inline-block;
    width: 12px;
    height: 12px;
    line-height: 9px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #FF4F4C;
}
.to-date .to-date-dot .to-date-dot-inline{
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #FFFFFF;
}
.to-date .to-date-dot .to-date-dot-inline.active{
    background: #FF4F4C;
}
.to-date .to-date-text{
    width: 30px;
    margin-left:5px;
    display: inline-block;
    font-size: 14px;
}
.main .main-content .right-panel .right-panel-resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item .plate-item-tag .tag-first-line span:nth-child(2) input{
    width: 45%;
}
.main .main-content .right-panel .right-panel-resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item .plate-item-tag .tag-first-line span:nth-child(1) input{
    width: 100%;
    display: inline-block;
}
.main .main-content .right-panel .right-panel-resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item .plate-item-tag .tag-first-line span:nth-child(2) input,
.main .main-content .right-panel .right-panel-resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item .plate-item-tag .tag-second-line span:nth-child(2) input{
    text-align: right;
}
.main .main-content .right-panel .right-panel-resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item .plate-item-tag .tag-first-line span:nth-child(2) input:nth-child(1){
    text-align: left;
}
.main .main-content .right-panel .right-panel-resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item textarea{
    background: inherit;
    border: none;
    padding: 0;
    border-bottom: 1px dashed #FFFFFF;
    height: 100%;
    width: 100%;
    font-size: 16px;
}
.main .main-content .right-panel .right-panel-resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item:hover textarea{
    border-bottom:1px solid rgba(80, 164, 255, 0); 
}

.main .main-content .right-panel .right-panel-resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item.editable input{
    border-bottom: 1px dashed rgba(80, 163, 255, 0.50);
}
.main .main-content .right-panel .right-panel-resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item.editable input:focus{
    border-bottom-color: #FF4F4C;
}
.main .main-content .right-panel .right-panel-resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item.editable textarea{
    border-bottom: 1px dashed rgba(80, 163, 255, 0.50);
}
.main .main-content .right-panel .right-panel-resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item.editable textarea:focus{
    border-bottom-color: #FF4F4C;
}

.main .main-content .right-panel .right-panel-resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item .plate-item-content .expandingArea{
    position:relative;
}
.main .main-content .right-panel .right-panel-resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item .plate-item-content .expandingArea pre{
    display:block;
    visibility:hidden;
    padding-top: 0;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0 !important;
    line-height: inherit;
    font-size: inherit;
    overflow-x: hidden; 
}
.main .main-content .right-panel .right-panel-resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item .plate-item-content .expandingArea pre div{
    width: 100%;
    height: 100%;
    font-size: 16px;
    display: block;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
}
.main .main-content .right-panel .right-panel-resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item .plate-item-content .expandingArea textarea{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    overflow:hidden;
}





.main .main-content .right-panel .right-panel-resume-editor .page-footer{
    position: absolute;
    bottom: 2px;
    right: 4px;
    color: #FF4F4C;
    font-size: 16px;
}

/*添加模块弹窗样式*/
#add-resume-plate-modal .edit-panel{margin-left: 20px;margin-right: 20px;}
#add-resume-plate-modal .edit-panel .info-title{
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 64px;
}
#add-resume-plate-modal .edit-panel .info-title input{
    width: 100%;
    transition: none;
    -moz-transition: none; /* Firefox 4 */
    -webkit-transition: none; /* Safari 和 Chrome */
    -o-transition: none; 
}
#add-resume-plate-modal .edit-panel .info-title input.disabled{
    width: 130px;
    text-align: center;
}
#add-resume-plate-modal .edit-panel .info-title .info-title-edit-btn{
    font-size: 10px;
    cursor: pointer;
    transition: none;
    -moz-transition: none; /* Firefox 4 */
    -webkit-transition: none; /* Safari 和 Chrome */
    -o-transition: none; 
}
#add-resume-plate-modal .edit-panel .info-title .info-title-edit-btn:hover{
    color: #FF4F4C;
}

#add-resume-plate-modal .edit-panel .info-content{
    width: 100%;
    padding: 0 64px;
}
#add-resume-plate-modal .edit-panel .info-content .info-content-item{
    width: 100%;
}
#add-resume-plate-modal .edit-panel .info-content .info-content-item .info-content-item-tag{
    width: 100%;
    margin: 0px;
    margin-bottom: 20px;
    padding-bottom: 17px;
    border-bottom:1px solid #F5F5F7;
}
#add-resume-plate-modal .edit-panel .info-content .info-content-item .info-content-item-tag .tag-info{
    display: flex;
    flex-direction: column;
    color: #404040;
    font-size: 14px;
}
#add-resume-plate-modal .edit-panel .info-content .info-content-item .info-content-item-tag .tag-ctrl-bar{
    text-align: right;
    padding: 0;
    color: #DCDCDC;
}
#add-resume-plate-modal .edit-panel .info-content .info-content-item .info-content-item-tag .tag-ctrl-bar>span{
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 23px;
    text-align: center;
    border: 1px solid #F5F5F7;
    cursor: pointer;
    transition: color 0s;
    -moz-transition: color 0s; /* Firefox 4 */
    -webkit-transition: color 0s; /* Safari 和 Chrome */
    -o-transition: color 0s; 
}
#add-resume-plate-modal .edit-panel .info-content .info-content-item .info-content-item-tag .tag-ctrl-bar>span:hover{
    color: #F86331;
    border-color: #F86331;
}
#add-resume-plate-modal .edit-panel .info-content .info-content-item .info-content-item-form{
    width: 100%;
}
#add-resume-plate-modal .edit-panel .info-content .info-content-item .info-content-item-form .form-input{
    width: 100%;
    margin-top: 40px;
}
#add-resume-plate-modal .edit-panel .info-content .info-content-item .info-content-item-form .form-input input{
    width: 100%;
}
#add-resume-plate-modal .edit-panel .info-content .info-content-item .info-content-item-form .form-input textarea{
    width: 100%;
    height: 364px;
}
#add-resume-plate-modal .edit-panel .info-content .info-content-item .info-content-item-form .form-input.two-inputs{
    display: inline-flex;
    justify-content: space-between;   
}
#add-resume-plate-modal .edit-panel .info-content .info-content-item .info-content-item-form .form-input.two-inputs input,
#add-resume-plate-modal .edit-panel .info-content .info-content-item .info-content-item-form .form-input.two-inputs select{
    width: 45%;
}
#add-resume-plate-modal .edit-panel .info-content .info-add-item{
    width: 100%;
    margin: 30px 0 0 0; 
}
#add-resume-plate-modal .edit-panel .info-content .info-add-item .info-add-item-btn{
    color: #9C9C9C;
    font-size: 16px;
}
#add-resume-plate-modal .edit-panel .info-content .info-add-item .info-add-item-btn i{
    color: #FF4F4C;
    margin-right: 7px;
}
/*“其他”相关样式*/
#add-resume-plate-modal .other-info-content-item{
    margin-top: 30px;
}
#add-resume-plate-modal .other-info-content-item .item-label{
    width: 100%;
    margin-bottom: 17px;

}
#add-resume-plate-modal .other-info-content-item .item-label .item-label-plus{
    color: #FF4F4C
}
#add-resume-plate-modal .other-info-content-item .item-content-tag{
    width: 100%;
    margin: 0px;
    margin-bottom: 20px;
    padding-bottom: 17px;
    border-bottom:1px solid #F5F5F7;
}
#add-resume-plate-modal .other-info-content-item .item-content-tag .tag-info{
    padding: 0;
    color: #404040;
    font-size: 14px;
}
#add-resume-plate-modal .other-info-content-item .item-content-tag .tag-ctrl-bar{
    text-align: right;
    padding: 0;
    color: #DCDCDC;
}
#add-resume-plate-modal .other-info-content-item .item-content-tag .tag-ctrl-bar>span{
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 23px;
    text-align: center;
    border: 1px solid #F5F5F7;
    cursor: pointer;
}
#add-resume-plate-modal .other-info-content-item .item-content .item-content-form{
    margin-top: 24px; 
    display: flex;
    justify-content: space-between;
}
#add-resume-plate-modal .other-info-content-item .item-content .item-content-form input:nth-child(1){
    width: 25%
}
#add-resume-plate-modal .other-info-content-item .item-content .item-content-form input:nth-child(2){
    width: 70%
}


#add-resume-plate-modal .edit-panel .info-footer{
    width: 100%;
    margin: 0 auto;
    padding: 0 64px;
    padding-bottom: 43px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
#add-resume-plate-modal .edit-panel .info-footer .info-footer-close input{ 
    width: 90px;
    height: 40px;
    line-height: 18px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #F5F5F7;
    border-radius: 2px;
    color: #9C9C9C;
    font-size: 16px;
}
#add-resume-plate-modal .edit-panel .info-footer .info-footer-close input:hover{
    background-color: #F5F5F7;
}
#add-resume-plate-modal .edit-panel .info-footer .info-footer-save input{
    width: 90px;
    height: 40px;
    line-height: 18px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #F5F5F7;
    border-radius: 2px;
    color: #FFFFFF;
    font-size: 16px;
    background-color: rgb(255, 79, 76);
}
#add-resume-plate-modal .edit-panel .info-footer .info-footer-save input:hover{
    background-color: rgba(255, 79, 76, 0.85)
}






/*** 模态框样式 ***/

/**简历机器人弹窗样式**/

#resume-robot-modal{
    text-align: center;
}
#resume-robot-modal .modal-content-title{
    font-size: 24px;
    line-height: 33px;
    margin-top: 37px;
}
#resume-robot-modal .modal-content-price{
    color: #FF4F4C;
    font-size: 46px;
    height: 67px;
    line-height: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#resume-robot-modal .modal-content-price .rmb-icon{
    font-size: 20px;
}
#resume-robot-modal .modal-content-info{
    line-height: 28px;
}
#resume-robot-modal .modal-content-info .time-limit{
    font-size: 20px;
}
#resume-robot-modal .modal-content-info .origin-price{
    font-size: 16px;
    text-decoration: line-through;
}
#resume-robot-modal .modal-content-btn a{
    display: inline-block;
    width: 183px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-top: 15px;
    background: rgb(255, 79, 76);
    border-radius: 2px;
    color: #FFFFFF;
}
#resume-robot-modal .modal-content-btn a:hover{
    background-color: rgba(255, 79, 76, 0.85)
}
#resume-robot-modal .modal-content-feature-list{
    width: 80%;
    margin: 0 auto;
    margin-top: 22px;
    margin-bottom: 48px;
    padding-top: 32px;
    border-top: 1px solid #F5F5F7;
}
#resume-robot-modal .modal-content-feature-list li{
    width: 100%;
    margin-bottom: 12px;
    text-align: left;
    font-size: 16px;
    color: #595959;
}
#resume-robot-modal .modal-content-feature-list li .list-item-icon{
    color: #FF4F4C;
    display: inline-block;
    width: 10%;
    font-size: 19px;
    text-align: right;
}
#resume-robot-modal .modal-content-feature-list li .list-item-text{
    display: inline-block;
    width: 85%;
    text-align: center;
}
#resume-robot-modal .modal-content-feature-list li .list-item-text:hover{
    color: #404040;
    font-size: 18px;
}

/**确认订单信息弹窗**/
#resume-confirm-modal{}
#resume-confirm-modal .confirm-product-title{
    width: 80%;
    margin: 0 auto;
    padding-top: 23px;
    padding-bottom: 24px;
    font-size: 14px;
    border-bottom: 1px solid #F5F5F7;
    text-align: center;
    font-size: 16px;
}
#resume-confirm-modal .confirm-product-info{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid #F5F5F7;
}
#resume-confirm-modal .confirm-product-info .product-info-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    line-height: 32px;
}
#resume-confirm-modal .confirm-product-info .product-info-item .item-key{color: #595959}
#resume-confirm-modal .confirm-product-info .product-info-item .item-value{color: #FF4F4C}
#resume-confirm-modal .QR-code{
    width: 100%;
    padding-top: 58px;
    text-align: center;
}
#resume-confirm-modal .pay-way{
    width: 100%;
    text-align: center;
    padding-bottom: 76px;
}
#resume-confirm-modal .pay-way .pay-way-text{
    font-size: 14px;
    color:#9C9C9C;
}
#resume-confirm-modal .pay-way .pay-way-img{
    width: 100%;
    text-align: center;
}



@media(min-width: 768px){
    #resume-robot-modal .modal-dialog,#resume-confirm-modal .modal-dialog{
        width: 500px;
    }
}
@media(max-width: 768px){
    .main .main-content .right-panel .right-panel-control-bar{
        width: 100%;
        min-height: 68px;
        background: #FFFFFF;
        box-shadow: 0 2px 4px rgba(0,0,0,0.06);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 20px 22px;
        font-size: 12px;
        margin: 0;
        flex-wrap: wrap;
    }
    .main .main-content .right-panel .right-panel-control-bar>div{
        margin-top: 10px;
    }
}