.container{
    width: 100%;
    color: rgb(64, 64, 64);
    padding: 0;
    padding-bottom: 160px;
    font-weight: 100;
}

/******************** 页头样式 ********************/
.header{
    width: 100%;
    height: 56px;
    margin: 0;
    background: #FFFFFF;
    border-bottom: 1px solid #F5F5F7;
}
.header .header-logo{
    height: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-left: 32px;
}

.header .header-nav{
    height: 100%;
    line-height: 56px;
}
.header .header-nav ul{
    display: flex;
    justify-content: center;
    align-items:center;
}
.header .header-nav ul li{
    margin-right: 53px;
}
.header .header-nav ul li.active{
    height:53px;
    line-height: 53px;
    border-bottom: 3px solid #FF4F4C;
}
.header .header-nav ul li a{
    color: #404040;
}
.header .header-nav ul li a:hover{
    color: #FF4F4C;
}

.header .header-personal-center{
    height: 100%;
    line-height: 78px;
    /* display: inline-flex;
    flex-direction: row; */
}
.header .header-personal-center .header-my-resume{
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.header .header-personal-center .header-dividing-line{
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px;
}
.header .header-personal-center .header-dividing-line .line{
    height: 30px;
    border-right: 1px solid #F5F5F7;
}

.header .header-personal-center .header-my-resume .resume-btn{
    display: inline-block;
    width: 120px;
    height: 36px;
    color: #FF4F4C;
    border: 1px solid #FF4F4C;
    background-color: #FFFFFF;
}
.header .header-personal-center .header-my-resume .resume-btn:hover{
    color: #FFFFFF;
    background-color: #FF4F4C;
}
.header .header-personal-center .header-personal-center-menu{
    height: 100%;
    line-height: 56px;
    padding-right: 7px;
}
.header .header-personal-center .header-personal-center-menu a{
    color: #404040;
}
.header .header-personal-center .header-personal-center-menu a .personal-icon{
    color: #FF4F4C;
    font-size: 20px;
    margin-right: 11px;
}
.header .header-personal-center .header-personal-center-menu .dropdown-menu{
    width: 185px;
}
.header .header-personal-center .header-personal-center-menu .dropdown-menu li{
    /* padding-left: 40px; */
    height: 52px;
}
.header .header-personal-center .header-personal-center-menu .dropdown-menu li a{
    height: 100%;
    line-height: 52px;
}
.header .header-personal-center .header-personal-center-menu .dropdown-menu li a .menu-item-icon{
    margin-left: 20px;
    margin-right: 20px;
}


/******************** 引导填写主体样式 ********************/

.main{
    width: 100%;
    display: flex;
    justify-content: center;
    margin:0;
    /* align-items: center; */
}
.main>div{
    background-color: #FFFFFF;
    margin-top: 20px;
}

/*** 左侧部分样式 ***/
.main .left-panel{
    position: relative;
    height: 100%;
    padding: 0;
}
.main .left-panel ul li{
    width: 100%;
    /* height: 106px; */
    border-bottom: 1px solid #F5F5F7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .left-panel ul li:hover{
    background-color: #F5F5F7;
}
.main .left-panel ul li .left-panel-item{
    width: 198px;
    min-height: 26px;
    margin-top: 42px;
    margin-bottom: 42px;
    padding-left: 38px;
    font-size: 16px;
    color: #9C9C9C; 
    line-height: 26px;
    transition: none;
    -moz-transition: none; /* Firefox 4 */
    -webkit-transition: none; /* Safari 和 Chrome */
    -o-transition: none; 
}
.main .left-panel ul li .left-panel-item.active{
    border-left: 8px solid #FF4F4C;
    padding-left: 30px;
    color: #404040;
}
.main .left-panel ul li .left-panel-item a{
    color: inherit;
    transition: none;
    -moz-transition: none; /* Firefox 4 */
    -webkit-transition: none; /* Safari 和 Chrome */
    -o-transition: none; 
}
.main .left-panel ul li .left-panel-item a .item-sub-title{
    font-size: 12px;
}
.main .left-panel ul li .left-panel-item a i{
    margin-right: 13px;
}

/** 左侧弹窗样式 **/
.main .left-panel .left-panel-modal{
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background-color:#FFFFFF;
    box-shadow: 0px 0px 20px #ccc;
    -webkit-box-shadow: 0px 0px 20px #ccc;
    -moz-box-shadow: 0px 0px 20px #ccc; 
}
.main .left-panel .left-panel-modal .modal-hide-ctrl{
    width: 100%;
    height: 44px;
    padding-top: 9px;
    padding-right: 9px;
}
.main .left-panel .left-panel-modal .modal-hide-ctrl .modal-hide-btn{
    display: inline-block;
    width: 32px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #9C9C9C;
    font-size: 13px;
}
.main .left-panel .left-panel-modal .modal-panel-title{
    width: 100%;
    height: 58px;
    text-align: center;
    font-size: 14px;
    color: #404040;
}
.main .left-panel .left-panel-modal .modal-panel-content{
    width: 100%;
    padding: 0 32px;
}
.main .left-panel .left-panel-modal .modal-panel-content select{
    width: 100%;
}

/*** 编辑框样式 ***/
.main .edit-panel{margin-left: 20px;margin-right: 20px;}
.main .edit-panel .info-title{
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 64px;
}
.main .edit-panel .info-title input{
    width: 100%;
    transition: none;
    -moz-transition: none; /* Firefox 4 */
    -webkit-transition: none; /* Safari 和 Chrome */
    -o-transition: none; 
}
.main .edit-panel .info-title input.disabled{
    width: 130px;
    text-align: center;
}
.main .edit-panel .info-title .info-title-edit-btn{
    font-size: 10px;
    cursor: pointer;
    transition: none;
    -moz-transition: none; /* Firefox 4 */
    -webkit-transition: none; /* Safari 和 Chrome */
    -o-transition: none; 
}
.main .edit-panel .info-title .info-title-edit-btn:hover{
    color: #FF4F4C;
}

.main .edit-panel .info-content{
    width: 100%;
    padding: 0 64px;
}
.main .edit-panel .info-content .info-content-item{
    width: 100%;
}
.main .edit-panel .info-content .info-content-item .info-content-item-tag{
    width: 100%;
    margin: 0px;
    margin-bottom: 20px;
    padding-bottom: 17px;
    border-bottom:1px solid #F5F5F7;
}
.main .edit-panel .info-content .info-content-item .info-content-item-tag .tag-info{
    display: flex;
    flex-direction: column;
    color: #404040;
    font-size: 14px;
}
.main .edit-panel .info-content .info-content-item .info-content-item-tag .tag-ctrl-bar{
    text-align: right;
    padding: 0;
    color: #DCDCDC;
}
.main .edit-panel .info-content .info-content-item .info-content-item-tag .tag-ctrl-bar>span{
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 23px;
    text-align: center;
    border: 1px solid #F5F5F7;
    cursor: pointer;
    transition: color 0s;
    -moz-transition: color 0s; /* Firefox 4 */
    -webkit-transition: color 0s; /* Safari 和 Chrome */
    -o-transition: color 0s; 
}
.main .edit-panel .info-content .info-content-item .info-content-item-tag .tag-ctrl-bar>span:hover{
    color: #F86331;
    border-color: #F86331;
}
.main .edit-panel .info-content .info-content-item .info-content-item-form{
    width: 100%;
}
.main .edit-panel .info-content .info-content-item .info-content-item-form .form-input{
    width: 100%;
    margin-top: 40px;
}
.main .edit-panel .info-content .info-content-item .info-content-item-form .form-input input{
    width: 100%;
}
.main .edit-panel .info-content .info-content-item .info-content-item-form .form-input textarea{
    width: 100%;
    height: 364px;
}
.main .edit-panel .info-content .info-content-item .info-content-item-form .form-input.two-inputs{
    display: inline-flex;
    justify-content: space-between;   
}
.main .edit-panel .info-content .info-content-item .info-content-item-form .form-input.two-inputs input,
.main .edit-panel .info-content .info-content-item .info-content-item-form .form-input.two-inputs select{
    width: 45%;
}
.main .edit-panel .info-content .info-add-item{
    width: 100%;
    margin: 30px 0 0 0; 
}
.main .edit-panel .info-content .info-add-item .info-add-item-btn{
    color: #9C9C9C;
    font-size: 16px;
}
.main .edit-panel .info-content .info-add-item .info-add-item-btn i{
    color: #FF4F4C;
    margin-right: 7px;
}
/*“其他”相关样式*/
.main .other-info-content-item{
    margin-top: 30px;
}
.main .other-info-content-item .item-label{
    width: 100%;
    margin-bottom: 17px;

}
.main .other-info-content-item .item-label .item-label-plus{
    color: #FF4F4C
}
.main .other-info-content-item .item-content-tag{
    width: 100%;
    margin: 0px;
    margin-bottom: 20px;
    padding-bottom: 17px;
    border-bottom:1px solid #F5F5F7;
}
.main .other-info-content-item .item-content-tag .tag-info{
    padding: 0;
    color: #404040;
    font-size: 14px;
}
.main .other-info-content-item .item-content-tag .tag-ctrl-bar{
    text-align: right;
    padding: 0;
    color: #DCDCDC;
}
.main .other-info-content-item .item-content-tag .tag-ctrl-bar>span{
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 23px;
    text-align: center;
    border: 1px solid #F5F5F7;
    cursor: pointer;
}
.main .other-info-content-item .item-content .item-content-form{
    margin-top: 24px; 
    display: flex;
    justify-content: space-between;
}
.main .other-info-content-item .item-content .item-content-form input:nth-child(1){
    width: 25%
}
.main .other-info-content-item .item-content .item-content-form input:nth-child(2){
    width: 70%
}


.main .edit-panel .info-footer{
    width: 100%;
    padding:0 64px;
    padding-bottom: 43px;
    margin-top: 40px;
}
.main .edit-panel .info-footer .info-footer-pre input{ 
    width: 90px;
    height: 40px;
    line-height: 18px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #F5F5F7;
    border-radius: 2px;
    color: #9C9C9C;
    font-size: 16px;
}
.main .edit-panel .info-footer .info-footer-save input{
    width: 90px;
    height: 40px;
    line-height: 18px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #F5F5F7;
    border-radius: 2px;
    color: #9C9C9C;
    font-size: 16px;
}
.main .edit-panel .info-footer .info-footer-pre input:hover,
.main .edit-panel .info-footer .info-footer-save input:hover{
    background-color: #F5F5F7;
}

.main .edit-panel .info-footer .info-footer-next input,
.main .edit-panel .info-footer .info-footer-complete input{
    width: 260px;
    height: 40px;
    line-height: 18px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #F5F5F7;
    border-radius: 2px;
    color: #FFFFFF;
    font-size: 16px;
    background-color: rgb(255, 79, 76);
}
.main .edit-panel .info-footer .info-footer-next input:hover,
.main .edit-panel .info-footer .info-footer-complete input:hover{
    background-color: rgba(255, 79, 76, 0.85)
}



/*** 右侧贴士框样式 ***/
.main .right-panel{height: 100%;}
.main .right-panel .tips-title{
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .right-panel .tips-content{
    padding: 0 24px;
    font-size: 14px;
}
.main .right-panel .tips-content .tips-item{
    margin-bottom: 20px;
}
.main .right-panel .tips-content .tips-item .tips-item-title{
    margin-bottom: 21px;
    width: 100%;
    cursor: pointer;
}
.main .right-panel .tips-content .tips-item .tips-item-title .tips-item-title-icon{
    color: #9C9C9C;
}
.main .right-panel .tips-content .tips-item .tips-item-desc{
    color: #9C9C9C;
    display: none;
}

.main .right-panel .tips-content .tips-item.active .tips-item-title .tips-item-title-icon{
    transform:rotate(180deg);
    -ms-transform:rotate(180deg); 	/* IE 9 */
    -moz-transform:rotate(180deg); 	/* Firefox */
    -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
    -o-transform:rotate(180deg); 	
}
.main .right-panel .tips-content .tips-item.active .tips-item-desc{
    display: block;
}


/**确认弹窗样式**/
#confirm-leave-modal .modal-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 34px;
    padding-bottom: 26px;
}
#confirm-leave-modal .modal-content .confirm-text{
    color: #404040;
}
#confirm-leave-modal .modal-content .confirm-btn{
    margin-top: 32px;
    width: 100%;
    display: flex;
    justify-content: center;
}
#confirm-leave-modal .modal-content .confirm-btn a{
    display: inline-block;
    width: 120px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #FF4F4C;
    border: 1px solid #FF4F4C;
    border-radius: 2px;
}
#confirm-leave-modal .modal-content .confirm-btn a:hover{
    color: #FFFFFF;
    background: #FF4F4C;
}
#confirm-leave-modal .modal-content .confirm-btn a:nth-child(1){
    margin-right: 68px;
}

@media (min-width: 768px){
    #confirm-leave-modal .modal-dialog{
        width: 472px;
    }
}

/**保存成功弹窗**/
#save-suc-modal{
    width: 120px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: #FFFFFF;
    border-radius: 2px;
    box-shadow: 0 2px 4px #EBEBEB;
    color: #FF4F4C;
    position: fixed;
    top: 178px;
    left: 50%;
    margin-left: -60px;
}



@media (max-width: 768px){
    .header .header-personal-center .header-personal-center-menu{
        margin-left: 10px;
    }
}