

/*******************************************    Header 样式    **************************************************/
.header{
    /* display:flex; */
    /* flex-direction: row; */
    /* justify-content: center; */
    position:fixed;
    /* position:absolute; */
    margin:0;
    top: 0; 
    left: 0;  
    width:100%;
    height:81px;
    color:#fff;
    padding:0px 16px 0px 19px;
    z-index: 99;
}
.header .logo{
    display:flex;
    /* flex-direction: row; */
    justify-content: flex-start;
    align-items: center;
    padding-left:3%;
    height:100%;
}
.header .nav{
    /* margin-left: 666px; */
    height: 100%;
    /* border-right:1px solid #fff; */
}
.header .nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}
.header .nav ul li{
    margin-right:52px;
    cursor:pointer;
    color:#fff;
    position: relative;
}
.header .nav ul li a{
    color: inherit;
    /* position: absolute;
    top: 50%;
    margin-top: -8px; */
}
.header .nav, .header .nav ul, .header .nav ul li{
    transition: height,padding-top 0s;
    -moz-transition: height,padding-top 0s; /* Firefox 4 */
    -webkit-transition: height,padding-top 0s; /* Safari 和 Chrome */
    -o-transition: height,padding-top 0s; 
}
.header .info{
    /* margin-left:52px; */
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.header .info ul{
    height: 30px;
    display: flex;
    margin-left:52px;
    flex-direction: row;
    justify-content: flex-start;
    border-left:1px solid #fff;
    align-items: center;
}
.header .info ul li{
    margin-left:52px;
    cursor:pointer;
}
.header .info ul li a{
    color: #fff;
}
.header .info ul .regist-btn , .header .info ul .resume-btn{
    /* display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px; */
    background-color:#fff;
    width:132px;
    height:36px;
    color:#404040;
    border-radius: 2px;
} 

.header-move{
    background-color: #FFF;
}
.header-move .info .login-text{
    color: #FF4F4C;
}
.header-move .info .login-text a{
    color: #FF4F4C;
}
.header-move .nav ,.header-move .nav ul, .header-move .nav ul li{
    transition: height,padding-top 0s;
    -moz-transition: height,padding-top 0s; /* Firefox 4 */
    -webkit-transition: height,padding-top 0s; /* Safari 和 Chrome */
    -o-transition: height,padding-top 0s; 
}
.header-move .nav ul li{
    color: #404040;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.header-move .nav ul li .nav-border-bottom{
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width:100%;
    border-bottom:3px solid #FF4F4C;
}
/* .header-move .nav ul li:hover{
} */
.header-move .info ul .regist-btn , .header-move .info ul .resume-btn{
    background-color: rgb(255, 79, 76);
    color: #FFFFFF ;
}
.header-move .info ul .regist-btn:hover, .header-move .info ul .resume-btn:hover{
    /* background-color: #FF813A; */
    background-color:rgba(255, 79, 76,0.85);
}
.header-move .info ul{
    border-left: 1px solid #F5F5F7;
}


/*******************************************    页面主体样式    **************************************************/
.main{
    position:relative;
    width:100%;
}
.main .banner{
    background:url('../img/banner@2x.png') no-repeat;
    background-size:100%;
    width:100%;
    height:871px;
    text-align: center;
    padding-top:135px;
    color:#fff;
}
.main .banner .solgan{
    font-size: 44px;
}
.main .banner .solgan_sub{
    font-size: 16px;
    margin-top: 9px;
}
.main .banner .create-resume{
    margin-top:42px;
}
.main .banner .create-resume .create-resume-btn{
    width: 409px;
    height: 54px;
    font-size: 16px;
    background: #fff;
    border: 1px solid #FFF;
    color:#FF4F4C;
    line-height:42px;
    border-radius: 4px;
}
.main .banner .create-resume .create-resume-btn:hover{
    color: #FFFFFF;
    border: 1px solid #FFF;
    background-color: rgba(255, 79, 76,0.1);
}
.main .example{
   position: absolute;
   top:363px;
   left:50%;
   margin-left:-535px;
   /* top:405px;
   left:240px; */
   width:1070px;
   height:732px;
   /* width:960px;
   height:622px; */
    /* border:1px solid #333;  */
   background-image: url('../img/editor@2x.png'); 
   background-size: 1070px;
   /* background-position: 49% 38%; */
   border-radius: 3px; 
   /* box-shadow: 0px 0px 20px #ccc; */
}
.main .pannel{
    padding-top: 245px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*分割线样式*/
.main .pannel .divide-line{
    width: 1192px;
    border-bottom:1px solid #F5F5F7;
}

.main .pannel .pannel-top{
    width: 1192px;
    padding-bottom: 134px;
}
.main .pannel .pannel-top .partners{}
.main .pannel .pannel-top .partners .partners-title{
    font-size: 14px;
    color: #9b9b9b;
    text-align: center;
}
.main .pannel .pannel-top .partners .partners-company{
    width:100%;
    display: inline-flex;
    justify-content: center;
    align-content: center;
}
.main .pannel .pannel-top .partners .partners-company ul{
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
}
.main .pannel .pannel-top .partners .partners-company ul li{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
}
.main .pannel .pannel-top .partners .partners-company ul li:nth-child(1){width:121px;height:121px;}
.main .pannel .pannel-top .partners .partners-company ul li:nth-child(2){width:155px;height:121px;}
.main .pannel .pannel-top .partners .partners-company ul li:nth-child(3){width:86px;height:121px;}
.main .pannel .pannel-top .partners .partners-company ul li:nth-child(4){width:112px;height:121px;}
.main .pannel .pannel-top .partners .partners-company ul li:nth-child(5){width:104px;height:121px;}
.main .pannel .pannel-top .partners .partners-company ul li:nth-child(6){width:119px;height:121px;}
.main .pannel .pannel-top .partners .partners-company ul li:nth-child(7){width:113px;height:121px;} 
.main .pannel .pannel-top .partners .partners-company ul li img{width:100%;}

.main .pannel .resume-tpl{
    padding-top: 84px;
}
.main .pannel .resume-tpl .resume-title{
    font-size: 28px;
    width:100%;
    color: #3f3f3f;
    display: inline-flex;
    justify-content: center;
}
.main .pannel .resume-tpl .resume-slogan{
    font-size: 16px;
    width: 100%;
    color:#9c9c9c;
    margin-top: 8px;
    display: inline-flex;
    justify-content: center;

}
.main .pannel .resume-tpl .resume-type{
    width: 100%;
    margin-top: 57px;
}
.main .pannel .resume-tpl .resume-type ul{
    display: inline-flex;
    /* width: 100%; */
    flex-direction: row;
    align-items: flex-start;
}
.main .pannel .resume-tpl .resume-type ul li{
    margin-right: 28px;
    width: 270px;
    height: 280px;
    box-shadow: 0px 0px 20px #ddd;
    border-radius: 10px;
    background: #fff;
}
.main .pannel .resume-tpl .resume-type ul li .tpl-choose-lan{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main .pannel .resume-tpl .resume-type ul li .tpl-choose-lan a{
    width: 120px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    font-size: 14px;
    background-color:#FFFFFF;
    color:#FF4F4C;
    border:1px solid #FF4F4C;
    border-radius: 2px;
}
.main .pannel .resume-tpl .resume-type ul li .tpl-choose-lan a:hover{
    background-color:#FF4F4C;
    color:#FFFFFF;
}
.main .pannel .resume-tpl .resume-type ul li .tpl-choose-lan .zh{
    margin-bottom: 34px;
}

.main .pannel .resume-tpl .resume-type ul li .tpl-content{
    display: inline-flex;
    flex-direction:column;
    align-content: center; 
    width:100%;
    height:100%;
    /* border:1px solid #333; */
    padding-top: 66px;
    padding-left: 22px;
    padding-right: 22px;
}
.main .pannel .resume-tpl .resume-type ul li  .tpl-content span{
    display: inline-block;
    text-align: center;
}
.main .pannel .resume-tpl .resume-type ul li  .tpl-content .tpl-title{
    margin-top: 26px;
    font-size: 16px;
    color: #3f3f3f;
}
.main .pannel .resume-tpl .resume-type ul li  .tpl-content .tpl-desc{
    margin-top: 14px;
    font-size: 14px;
    color: #9c9c9c;
}
.main .pannel .resume-tpl .resume-btns{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 54px;
}
.main .pannel .resume-tpl .resume-btns a{
    display: inline-block;
    width: 200px;
    height: 42px;
    border-radius: 5px;
    margin-right: 60px;
    color:#FFFFFF;
    font-size: 14px;
    line-height: 42px; 
    text-align: center;
    box-shadow: 0px 0px 20px #ddd;
    border-radius: 2px;
}
.main .pannel .resume-tpl .resume-btns .create-resume{
    background-color: rgb(248, 99, 49);
}
.main .pannel .resume-tpl .resume-btns .create-resume:hover{
    background-color: rgba(248, 99, 49,0.85);
}
.main .pannel .resume-tpl .resume-btns .insert-resume{
    background-color: #FF4F4C;
} 
.main .pannel .resume-tpl .resume-btns .insert-resume:hover{
    background-color: rgba(255, 79, 76,0.85);
} 

.main .pannel .pannel-content{
     width: 100%; 
     padding-top: 33px;
     /* display: flex;
     justify-content: center;
     align-items: center; */
}
.main .pannel .pannel-content>div{
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    justify-content: center;
}

/*区块公共样式*/
.main .pannel .pannel-content .pannel-content-img{} 
.main .pannel .pannel-content .pannel-content-desc{
    display: inline-flex;
    flex-direction: column;
} 
.main .pannel .pannel-content .pannel-content-desc .desc-label{
    width: 68px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    background-color: #FFE6E6;
    border-radius: 25px;
    color: #FF4F4C;
    font-size: 13px;
}
.main .pannel .pannel-content .pannel-content-desc .desc-title{
    width: 373px;
    font-size: 28px;
    margin-top: 15px;
    color: #404040;
}
.main .pannel .pannel-content .pannel-content-desc .desc-content{
    width: 412px;
    font-size: 15px;
    margin-top: 24px;
    color: #9C9C9C;
}
.main .pannel .pannel-content .pannel-content-desc .desc-content p{
    margin-bottom: 20px;
}

/*区块个性化样式*/
.main .pannel .pannel-content .pannel-content-profession{
    padding-left: 18px;
    display: flex;
    justify-content: center;
}
.main .pannel .pannel-content .pannel-content-profession .profession-img{
    width: 609px;
    height: 692px;
    padding:17px 69px 81px 65px;
    /* overflow: hidden; */
}


.main .pannel .pannel-content .pannel-content-profession .profession-img-view{
    position:relative;
    width: 100%;
    height:100%;
    perspective: 1000px;
    -webkit-perspective: 1000px;
  
}
.main .pannel .pannel-content .pannel-content-profession .profession-img-view .view-container{
    position:relative;
    transform-style: preserve-3d;
    transition: none;
    -moz-transition: none; /* Firefox 4 */
    -webkit-transition: none; /* Safari 和 Chrome */
    -o-transition: none; 
}
.main .pannel .pannel-content .pannel-content-profession .profession-img-view .view-container .pic1{
    width:475px;
    height:594px;
    /* background-color:#ff0755; */
    transform: rotateY(0);
    -webkit-transform: rotateY(0);
    z-index:9;
}
.main .pannel .pannel-content .pannel-content-profession .profession-img-view .view-container .pic2{
    z-index: 2;
    width:475px;
    height:594px;
    /* background-color:#55ff55; */
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}
.main .pannel .pannel-content .pannel-content-profession .profession-img-view .view-container .pic1 img,
.main .pannel .pannel-content .pannel-content-profession .profession-img-view .view-container .pic2 img{
    width:100%;
}
.main .pannel .pannel-content .pannel-content-profession .profession-img-view .view-container .pic1,
.main .pannel .pannel-content .pannel-content-profession .profession-img-view .view-container .pic2{
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    /* perspective: 1000px;
    -webkit-perspective: 1000px; */
}
.main .pannel .pannel-content .pannel-content-profession .profession-img-view .slider{
    box-sizing: border-box;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 20px #ddd;
    width: 425px;
    position: absolute;
    left: 50%;
    margin-left: -212px;
    border-radius: 4rem;
    height: 4rem;
    top: 23rem;
    z-index: 99;
}

.main .pannel .pannel-content .pannel-content-profession .profession-img-view .slider .track{
    height: 100%;
    width: 100%;
    position: relative;
    line-height: 4rem;
    text-align: center;
    color: #9C9C9C;
    font-size: 14px;
}
.main .pannel .pannel-content .pannel-content-profession .profession-img-view .slider .track .btn{
    cursor: col-resize!important; 
    /* margin-left: -1.4rem; */
    height: 2.9rem;
    width: 2.9rem;
    border-radius: 50%;
    position: absolute;
    left: 0;
    margin-top: .6rem;
    background:url('../img/fliper@2x.png') no-repeat;
    background-size: 2.8rem 2.8rem;
    transition: none;
    -moz-transition: none; /* Firefox 4 */
    -webkit-transition: none; /* Safari 和 Chrome */
    -o-transition: none; 
}
.main .pannel .pannel-content .pannel-content-profession .profession-img-view .slider .track .btn-left{
    transform:rotate(180deg);
    -moz-transform: rotate(180deg); /* Firefox 4 */
    -webkit-transform:rotate(180deg);
}

/***Safari翻转动画兼容***/
/* 1.0 兼容动画处理（拖动条仍有问题）*/
.well-safari .main .pannel .pannel-content .pannel-content-profession .profession-img-view .slider{
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 20px #ddd;
    width: 324px;
    position: absolute;
    left: 50%;
    margin-left: -162px;
    border-radius: 4rem;
    height: 3rem;
    top: 23rem;
    z-index: 99;
    transform: translateZ(250px);
}
.well-safari .main .pannel .pannel-content .pannel-content-profession .profession-img-view .slider .track{
    height: 100%;
    width: 100%;
    position: relative;
    line-height: 3rem;
    text-align: center;
    color: #9C9C9C;
    font-size: 12px;
}
.well-safari .main .pannel .pannel-content .pannel-content-profession .profession-img-view .slider .track .btn{
    cursor: col-resize!important; 
    /* margin-left: -1.4rem; */
    height: 2.3rem;
    width: 2.3rem;
    border-radius: 50%;
    position: absolute;
    left: 0;
    margin-top: .3rem;
    background:url('../img/fliper@2x.png') no-repeat;
    background-size: 2.2rem 2.2rem;
    transition: none;
    -moz-transition: none; /* Firefox 4 */
    -webkit-transition: none; /* Safari 和 Chrome */
    -o-transition: none; 
}

/* 2.0 屏蔽动画*/
.well-safari .main .pannel .pannel-content .pannel-content-profession .profession-img-view .slider,
.well-safari .main .pannel .pannel-content .pannel-content-profession .profession-img-view .view-container .pic2{
    display: none;
}

/****/





.main .pannel .pannel-content .pannel-content-profession .pannel-content-desc{
    padding-left: 109px;
    padding-top: 142px;
}
.main .pannel .pannel-content .pannel-content-efficient .pannel-content-desc{
    padding-left: 139px;
    padding-top: 131px;
    padding-right: 21px;
}
.main .pannel .pannel-content .pannel-content-sample{
    /* padding-left: 112px; */
}
.main .pannel .pannel-content .pannel-content-sample .pannel-content-desc{
    padding-top: 124px;
    padding-left: 42px;
}
.main .pannel .pannel-content .pannel-content-feedback .pannel-content-desc{
    padding-left: 139px;
    padding-top: 251px;
    padding-right: 6px;
}

.main .pannel .pannel-bottom{
    position: relative;
    padding-top: 126px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main .pannel .pannel-bottom .header-img{
    position: absolute;
    top: 85px;
    left: 0;
    width: 113px;
    height: 102px;
    background: url('../img/feedback-header-img@2x.png');
    background-size: 113px;
}
.main .pannel .pannel-bottom .pannel-bottom-title{
    font-size: 28px;
    color: #404040;
}
.main .pannel .pannel-bottom .pannel-bottom-slogan{
    font-size: 14px;
    color: #9B9B9B;
    margin-top: 15px;
}
.main .pannel .pannel-bottom .pannel-bottom-swiper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 62px;
}
.main .pannel .pannel-bottom .pannel-bottom-swiper .swiper-btn-left{
    margin-top: 71px;
}
.main .pannel .pannel-bottom .pannel-bottom-swiper .swiper-content{
    width: 740px;
     height: 320px; 
}
.main .pannel .pannel-bottom .pannel-bottom-swiper .swiper-content .swiper-container{
    width: 100%;
    height: 100%;
}
.main .pannel .pannel-bottom .pannel-bottom-swiper .swiper-content .swiper-container .slide-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main .pannel .pannel-bottom .pannel-bottom-swiper .swiper-content .swiper-container .slide-content .slide-img{
    width:600px;
    height: 200px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px #ddd;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 31px;
    padding-right: 31px;
    text-align: center;
    color: #595959;
    font-size: 13px;
    position: relative;
}
.main .pannel .pannel-bottom .pannel-bottom-swiper .swiper-content .swiper-container .slide-content .slide-img .slider-img-avatar{
    display: inline-block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -24px;
    bottom: -24px;
} 
.main .pannel .pannel-bottom .pannel-bottom-swiper .swiper-content .swiper-container .slide-content .slide-name{
    margin-top:40px;
    font-size: 16px;
    color: #404040;
}
.main .pannel .pannel-bottom .pannel-bottom-swiper .swiper-content .swiper-container .slide-content .slide-desc{
    font-size: 14px;
    color: #9C9C9C;
}

.main .pannel .pannel-bottom .pannel-bottom-swiper .swiper-btn-right{
    margin-top: 71px;
}

/* 合作伙伴 */
.main .pannel .pannel-bottom .pannel-bottom-company{
    margin-top: 60px;
}
.main .pannel .pannel-bottom .pannel-bottom-company table td{
    padding-right: 35px;
}
.main .pannel .pannel-bottom .pannel-bottom-company ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.main .pannel .pannel-bottom .pannel-bottom-company ul li{
    padding-right: 35px;
}


/*******************************************    Footer 样式    **************************************************/

.footer{
    position: relative;
    width: 100%;
    margin-top:185px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:url('../img/footerBG@3x.png') no-repeat;
    background-size:100%;
}
.footer .fast-entrance{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:-66px;
    left: 50%;
    margin-left: -400px;
    width: 800px;
    height: 100px;
    border-radius: 4px;
    background-color: #FF4F4C;
    color: #fff;
    padding-left: 30px;
    font-size: 18px;
    box-shadow: 0px 0px 20px #ddd;
}
.footer .fast-entrance .fast-entrance-btn{
    display: inline-block;
    width: 134px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    border-radius: 2px;
    background-color: #FFFFFF;
    color: #FF4F4C;
    font-size:14px;
    margin-left: 335px;
}
.footer .footer-content{
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: center; */
    
    width: 100%;
    padding-top: 155px;

    /* padding-left: 140px; */
}
.footer .footer-content .footer-logo{}
.footer .footer-links{
    display: flex;
    justify-content: center;
}
.footer .footer-content ul li{
    font-size: 13px;
    color: #404040;
    margin-bottom: 12px;
}
.footer .footer-content ul li:nth-child(1){
    color: #9B9B9B;
    margin-bottom: 16px;
}
.footer .footer-content ul li a{
    color: inherit;
}
.footer .footer-content ul li a:hover{
    text-decoration: underline !important;
}
.footer .footer-content .footer-contact{
    /* margin-left: 125px; */
}
.footer .footer-content .footer-about{
    /* margin-left: 71px; */
}
.footer .footer-content .footer-change-language{
    /* margin-left: 183px; */
    text-align: center;
}
.footer .footer-content .footer-change-language a{
    display: inline-block;
    text-align: center;
    width: 127px;
    height: 38px;
    line-height: 38px;
    border-radius: 2px;
    color: #fff;
    background-color: rgb(255, 79, 76);
}
.footer .footer-content .footer-change-language a:hover{
    background-color: rgba(255, 79, 76,0.85);
}
.footer .copy-right{
    width: 100%;
    text-align: center;
    color: #9B9B9B;
    font-size: 13px;
    margin-top: 36px;
    margin-bottom: 40px;
}


@media (max-width: 768px) {


    /*******************************************    页面主体样式    **************************************************/
    .main .pannel .pannel-bottom .pannel-bottom-swiper .swiper-content .swiper-container .slide-content{
        width: 335px;
        height: 272px;
        margin: 0;
    }
    .main .pannel .pannel-bottom .pannel-bottom-swiper .swiper-content .swiper-container .slide-content .slide-img{
        width: 100%;
        height: 100%;
        /* width: 335px;
        height: 272px; */
        display: inline-block;
        position: relative;
        text-align: left;
        padding-top: 74px;
    }
    .main .pannel .pannel-bottom .pannel-bottom-swiper .swiper-content .swiper-container .slide-content .slide-name{
        position: absolute;
        top: 23px;
        left: 90px;
        margin: 0;
    }
    .main .pannel .pannel-bottom .pannel-bottom-swiper .swiper-content .swiper-container .slide-content .slide-desc{
        position: absolute;
        top: 45px;
        left: 90px;
        margin: 0;
    }
    .main .pannel .pannel-bottom .pannel-bottom-swiper .swiper-content .swiper-container .slide-content .slide-img .slider-img-avatar{
       top: 20px;
       left: 25px;
       margin: 0px;
    }

    .main .pannel .pannel-bottom .pannel-bottom-company ul{
        display: block;
    }


    /*******************************************    Footer 样式    **************************************************/
    .footer .fast-entrance{
        width: 100%;
        /* display: block; */
        flex-direction: column;
        position: relative;
        border-radius: 0;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        text-align: center;
        font-size: 21px;
        height: 137px;
    }
    .footer .fast-entrance .fast-entrance-btn{
        margin: 0;
        margin-top: 20px;
    }
    .footer .footer-content{
        padding-top: 44px;
    }
}