.container{
    width: 100%;
    color: rgb(64, 64, 64);
    padding: 0;
    padding-bottom: 260px;
    font-weight: 100;
}

/******************** 页头样式 ********************/
.header{
    width: 100%;
    height: 78px;
    margin: 0;
    background: #FFFFFF;
}
.header .header-logo{
    height: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-left: 32px;
}

.header .header-nav{
    height: 100%;
    line-height: 78px;
}
.header .header-nav ul{
    display: flex;
    justify-content: center;
    align-items:center;
}
.header .header-nav ul li{
    margin-right: 53px;
}
.header .header-nav ul li a{
    color: #404040;
}
.header .header-nav ul li a:hover{
    color: #000000;
}

.header .header-personal-center{
    height: 100%;
    line-height: 78px;
}
.header .header-personal-center .header-personal-center-menu{
    height: 100%;
    padding-right: 7px;
}
.header .header-personal-center .header-personal-center-menu a{
    color: #404040;
}
.header .header-personal-center .header-personal-center-menu a .personal-icon{
    color: #FF4F4C;
    font-size: 20px;
    margin-right: 11px;
}
.header .header-personal-center .header-personal-center-menu .dropdown-menu{
    width: 185px;
}
.header .header-personal-center .header-personal-center-menu .dropdown-menu li{
    /* padding-left: 40px; */
    height: 52px;
}
.header .header-personal-center .header-personal-center-menu .dropdown-menu li a{
    height: 100%;
    line-height: 52px;
}
.header .header-personal-center .header-personal-center-menu .dropdown-menu li a .menu-item-icon{
    margin-left: 20px;
    margin-right: 20px;
}


/******************** 页面主面板样式 ********************/
.main{width: 100%;}
.main .no-resume{
    width: 100%;
    padding-top: 183px;
}

.main .no-resume .resume-tpl{}
.main .no-resume .resume-tpl .resume-title{
    font-size: 28px;
    width:100%;
    color: #3f3f3f;
    text-align: center;
}
.main .no-resume .resume-tpl .resume-slogan{
    font-size: 16px;
    width: 100%;
    color:#9c9c9c;
    margin-top: 8px;
    text-align: center;
}
.main .resume-tpl .resume-type{
    width: 100%;
    margin-top: 37px;
}
.main .resume-tpl .resume-type ul{
    width: 85%;
    margin: 0 auto; 
}
.main .resume-tpl .resume-type ul li{
    /* text-align: center; */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.main .resume-tpl .resume-type ul li>div{
    width: 270px;
    height: 280px;
    box-shadow: 0px 0px 20px #ddd;
    border-radius: 4px;
    background: #fff;
}
.main .resume-tpl .resume-type ul li .tpl-choose-lan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main .resume-tpl .resume-type ul li .tpl-choose-lan a{
    width: 120px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    font-size: 14px;
    background-color:#FFFFFF;
    color:#FF4F4C;
    border:1px solid #FF4F4C;
    border-radius: 2px;
    margin-bottom: 34px;
}
.main .resume-tpl .resume-type ul li .tpl-choose-lan a:hover{
    background-color:#FF4F4C;
    color:#FFFFFF;
}

.main .resume-tpl .resume-type ul li .tpl-content{
    display: inline-flex;
    flex-direction:column;
    align-content: center; 
    padding-top: 66px;
    padding-left: 22px;
    padding-right: 22px;
}
.main .resume-tpl .resume-type ul li  .tpl-content span{
    display: inline-block;
    text-align: center;
}
.main .resume-tpl .resume-type ul li  .tpl-content .tpl-title{
    margin-top: 26px;
    font-size: 16px;
    color: #3f3f3f;
}
.main .resume-tpl .resume-type ul li  .tpl-content .tpl-desc{
    margin-top: 14px;
    font-size: 14px;
    color: #9c9c9c;
}
.main .resume-tpl .resume-btns{
    /* display: inline-flex;
    justify-content: center;
    align-items: center; */
    width: 40%;
    margin: 0 auto;
    margin-top: 34px;
}
.main .resume-tpl .resume-btns>div{
    text-align: center;
    margin-top: 20px;
}
.main .resume-tpl .resume-btns a{
    display: inline-block;
    width: 200px;
    height: 42px;
    border-radius: 5px;
    color:#FFFFFF;
    font-size: 14px;
    line-height: 42px; 
    text-align: center;
    box-shadow: 0px 0px 20px #ddd;
    border-radius: 2px;
}
.main .resume-tpl .resume-btns .create-resume-btn{
    background-color: rgb(248, 99, 49);
}
.main .resume-tpl .resume-btns .create-resume-btn:hover{
    background-color: rgba(248, 99, 49,0.85);
}
.main .resume-tpl .resume-btns .insert-resume-btn{
    background-color: #FF4F4C;
} 
.main .resume-tpl .resume-btns .insert-resume-btn:hover{
    background-color: rgba(255, 79, 76,0.85);
}

/****** 已有简历样式 ******/
.main .has-resume .resume-tpl .resume-type{
    margin-top: 14px;
}
.main .has-resume .resume-tpl .resume-type ul li{
    margin-top: 70px;
}
.main .has-resume .resume-tpl .resume-type ul li>div{
    box-shadow:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border: 1px solid #F0F0F2;
}
.main .has-resume .resume-tpl .resume-type ul li .create-resume{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0;
} 
.main .has-resume .resume-tpl ul li .create-resume .create-resume-icon{
    display: inline-block;
    margin-bottom: 39px;
}
.main .has-resume .resume-tpl ul li .create-resume .create-resume-text{
    color: #FF4F4C;
    font-size: 16px;
}

.main .has-resume .resume-tpl ul li .resume-exist{
    justify-content: center;
    align-items: center;
    padding: 0;
    position: relative;
}
.main .has-resume .resume-tpl ul li .tpl-content .resume-name{
    max-width: 200px;
    text-align: center; 
} 
.main .has-resume .resume-tpl ul li .tpl-content .resume-info{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    line-height: 70px;
    color: #9C9C9C;
    border-top: 1px solid #F5F5F7;
    padding-left: 16px;
}
.main .has-resume .resume-tpl ul li .tpl-content .resume-info .resume-time{
    font-size: 14px;
    width: 160px;
    text-align: left;
}
.main .has-resume .resume-tpl ul li .tpl-content .resume-info .resume-lan{
    display: inline-block;
    width: 39px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    border: 1px solid #EBEBEB;
    font-size: 13px;
    margin-left: 34px;
}

.main .has-resume .resume-tpl ul li .tpl-choose-lan{}
.main .has-resume .resume-tpl ul li .tpl-choose-lan .resume-check{
    width: 100%;
    height: 80%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.main .has-resume .resume-tpl ul li .tpl-choose-lan .resume-check a{
    display: inline-block;
    width: 120px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    font-size: 14px;
    background-color:#FFFFFF;
    color:#FF4F4C;
    border:1px solid #FF4F4C;
    border-radius: 2px;
    margin-bottom: 0px;
}
.main .has-resume .resume-tpl ul li .create-resume-type a{
    margin-bottom: 24px;
}
.main .has-resume .resume-tpl ul li .tpl-choose-lan .resume-check a:hover{
    background-color:#FF4F4C;
    color:#FFFFFF;
}
.main .has-resume .resume-tpl ul li .tpl-choose-lan .resume-info-control{
    text-align: center;
    margin-bottom: 23px;
}
.main .has-resume .resume-tpl ul li .tpl-choose-lan .resume-info-control a{
    color:#9C9C9C;
    font-size: 25px;
    border:none;
    margin-right: 46px;
    position: relative;
}
.main .has-resume .resume-tpl ul li .tpl-choose-lan .resume-info-control a:hover{
    color: #FF4F4C;
    background: #FFFFFF;
}
.main .has-resume .resume-tpl ul li .tpl-choose-lan .resume-info-control a .resume-info-control-popover{
    color:#FFFFFF;
    font-size: 12px;
    position: absolute;
    background: #404040;
    width: 60px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    top: -34px;
}
.main .has-resume .resume-tpl ul li .tpl-choose-lan .resume-info-control a .resume-info-control-popover .popover-arrow{
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    bottom: -5px;
    left: 50%;
    margin-left: -3px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #404040;
}
.main .has-resume .resume-tpl ul li .tpl-choose-lan .resume-info-control .resume-info-edit .resume-info-control-popover{
    left: -81%;
}
.main .has-resume .resume-tpl ul li .tpl-choose-lan .resume-info-control .resume-info-copy .resume-info-control-popover{
    left: -56%;
}
.main .has-resume .resume-tpl ul li .tpl-choose-lan .resume-info-control .resume-info-del .resume-info-control-popover{
    left: -110%;
}

/****** 导入简历弹窗 *******/
.main .insert-resume .resume-tpl ul li>div{
    box-shadow:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
.main .insert-resume .resume-tpl ul li .insert-resume-tpl{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main .insert-resume .resume-tpl ul li .insert-resume-tpl a{
    display: inline-block;
    width: 120px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    font-size: 14px;
    background-color:#FFFFFF;
    color:#FF4F4C;
    border:1px solid #FF4F4C;
    border-radius: 2px;
    margin-bottom: 34px;
}
.main .insert-resume .resume-tpl ul li .insert-resume-tpl a:hover{
    background-color:#FF4F4C;
    color:#FFFFFF;
}
#insert-resume-modal .resume-tpl .resume-type{
    margin-top: 0;
} 


/******************** 编辑简历信息弹窗样式 ********************/
#resume-info-modal{}
#resume-info-modal .modal-dialog{
    min-width: 472px;
}
#resume-info-modal .modal-content{
    padding: 38px 41px 26px 41px;
    border-radius: 4px;
}
#resume-info-modal .modal-content>div{
    margin-top: 28px;
}
#resume-info-modal .modal-content .resume-name{
    width: 100%;
}
#resume-info-modal .modal-content .resume-url{
    width: 100%;
}
#resume-info-modal .modal-content .resume-name label,#resume-info-modal .modal-content .resume-name input,#resume-info-modal .modal-content .resume-url label,#resume-info-modal .modal-content .resume-url input{
    display: inline-block;
    width: 100%;
    color: #404040;
}
#resume-info-modal .modal-content .resume-btn a{
    display: inline-block;
    width: 120px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    font-size: 14px;
    background-color:#FFFFFF;
    color:#FF4F4C;
    border:1px solid #FF4F4C;
    border-radius: 2px;
}
#resume-info-modal .modal-content .resume-btn{
    width: 100%;
    text-align: center;
}
#resume-info-modal .modal-content .resume-btn a:hover{
    background-color:#FF4F4C;
    color:#FFFFFF;
}

/******************** 选择模板弹窗样式 ********************/
#choose-resume-tpl-modal{}
#choose-resume-tpl-modal .modal-dialog{
    /* min-width: 1164px; */
}
#choose-resume-tpl-modal .modal-content{
    border: none;
    background-color: rgba(0,0,0,0);
    box-shadow:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
#choose-resume-tpl-modal .modal-content .resume-tpl .resume-type ul{
    margin: 0;
    width: 100%;
}
#choose-resume-tpl-modal .modal-content .resume-tpl .resume-type ul li>div{
    box-shadow:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}


@media (max-width: 768px){
    .main .no-resume .resume-tpl .resume-btns{
        width: 100%;
    }
    #resume-info-modal .modal-dialog{
        min-width: 80%;
    }
}
@media (min-width: 992px){
    #resume-info-modal .modal-dialog{
        margin-top: 200px;
    }
    #choose-resume-tpl-modal .modal-dialog{
        min-width: 1164px;
        margin-top: 200px;
    }
    #insert-resume-modal .modal-dialog{
        margin-top: 200px;
    }
}
