body{
    width: 100%;
    position: relative
}
.resume-editor{
    width: 940px;
    height: 1182px;
    background: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0,0,0,0.06); 
    margin: 0 auto;
    margin-top: 10px; 
    padding: 0 40px;
    padding-bottom: 4px;
    position: relative;
    border-bottom: 1px solid #FF4F4C;
    overflow: hidden;
}

.resume-editor .resume-editor-header{
    width: 100%;
    margin: 0px;
    height: 150px;
    position: relative;
}
.resume-editor .resume-editor-header .school-logo{
    position: absolute;
    top: 20px;
    left: 0;
}
.resume-editor .resume-editor-header .applicant-info{
    width: 100%;
    padding-top: 50px;
    width: auto;
    text-align: center;
}
.resume-editor .resume-editor-header .applicant-info .editor-header-title{
    width: 100%;
    font-size: 24px;
}
.resume-editor .resume-editor-header .applicant-info .editor-header-sub-title{
    width: 100%;
    font-size: 18px;
    color: #666666;
    margin-top: 5px;
}
.resume-editor .resume-editor-header .applicant-avatar{
    position: absolute;
    top: 20px;
    right: 0;
}

.resume-editor .resume-editor-header.HL-AS{}
.resume-editor .resume-editor-header.HL-AS .school-logo{
    right: 0;
    left: auto;
}
.resume-editor .resume-editor-header.HL-AS .applicant-info{
    text-align: left;
    padding-left: 120px;
    padding-top: 20px;
}
.resume-editor .resume-editor-header.HL-AS .applicant-avatar{
    left: 0;
    right: auto;
}
.resume-editor .resume-editor-header.HL-A{}
.resume-editor .resume-editor-header.HL-A .school-logo{
    display: none;
}
.resume-editor .resume-editor-header.HL-A .applicant-info{
    text-align: left;
    padding-top: 20px;
}
.resume-editor .resume-editor-header.HL-A .applicant-avatar{
    left: auto;
    right: 0;
}
.resume-editor .resume-editor-header.HL-S{}
.resume-editor .resume-editor-header.HL-S .school-logo{
    right: 0;
    left: auto;
}
.resume-editor .resume-editor-header.HL-S .applicant-info{
    text-align: left;
    padding-top: 20px;
}
.resume-editor .resume-editor-header.HL-S .applicant-avatar{
    display: none;
}










.resume-editor .resume-editor-content{}
.resume-editor .resume-editor-content .resume-editor-plate{
    padding: 4px;
    border: 2px solid #FFFFFF;
    margin-top: 25px;
}
.resume-editor .resume-editor-content .resume-editor-plate:hover{
    border-color: #50A4FF;
}
.resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-title{
    font-size: 18px;
    padding-bottom: 4px;
    border-bottom: 1px solid #F3F3F3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-title .title-text{}
.resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-title .title-ctrl-bar{
    display: none;
}
.resume-editor .resume-editor-content .resume-editor-plate:hover .resume-editor-plate-title .title-ctrl-bar{
    display: block;
}
.resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-title .title-ctrl-bar>a{
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    border: 1px solid #50A4FF;
    color: #50A4FF;
    font-size: 12px;
    cursor: pointer;
    position: relative;
    transition: none;
    -moz-transition: none; /* Firefox 4 */
    -webkit-transition: none; /* Safari 和 Chrome */
    -o-transition: none; 
}
.resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-title .title-ctrl-bar>a:hover{
    background-color: #50A4FF;
    color: #FFFFFF;
}

.resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-title .title-ctrl-bar>a .resume-info-control-popover{
    color:#FFFFFF;
    font-size: 12px;
    position: absolute;
    background: #404040;
    width: 88px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    top: -34px;
    left: -38px;
    display: none;
}
.resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-title .title-ctrl-bar>a .resume-info-control-popover .popover-arrow{
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    bottom: -5px;
    left: 50%;
    margin-left: -3px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #404040;
}
.resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-title .title-ctrl-bar>a:hover .resume-info-control-popover{
    display: inline-block;
}

.resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item{
    line-height: 24px;
    position: relative;
    margin-top: 12px;
    font-size: 16px;
}
.resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item:hover{
    background-color: rgba(80, 164, 255, 0.1);
}
.resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item .resume-editor-palte-item-ctrl-bar{
    position: absolute;
    top: 0;
    right: -28px;
    display: none;
    flex-direction: column;
}
.resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item:hover .resume-editor-palte-item-ctrl-bar{
    display: flex;
}
.resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item .resume-editor-palte-item-ctrl-bar>a{
    display: inline-block;
    width: 25px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background-color:rgba(80, 164, 255, 0.1); 
    color: #50A4FF;
    font-size: 12px;
    cursor: pointer;
    margin-bottom: 6px;
}
.resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item .plate-item-tag{}
.resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item .plate-item-tag .tag-first-line{
    display: flex;
    justify-content: space-between;
    color: #404040;
}
.resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item .plate-item-tag .tag-second-line{
    display: flex;
    justify-content: space-between;
    color: #666666;
}
.resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item .plate-item-content{
    margin-top: 16px;
}
.resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item .plate-item-content ul{
    list-style: disc inside none;
}
.resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item .plate-item-content ul li{
    margin-bottom: 16px;
    position: relative;
    padding-left: 24px;
}
.resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item .plate-item-content ul li .dot{
    position: absolute;
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #999999;
    top: 10px;
    left: 0;
}
.resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item .plate-item-content ul li:last-child{
    margin: 0;
}
.resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item input{
    background: inherit;
    border: none;
    padding: 0;
    border-bottom: 1px solid #FFFFFF;
    font-size: 16px;
}
.resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item:hover input{
    border-bottom:1px solid rgba(80, 164, 255, 0); 
}
.resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item input.dashed{
    border-bottom-style: dashed;
}
.resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item .plate-item-tag .tag-first-line span:nth-child(1){
    width: 65%;
    display: inline-block;
}
.resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item .plate-item-tag .tag-first-line span:nth-child(2){
    width: 20%;
    position: relative;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

/*‘至今’标签样式*/
.to-date{
    position: absolute;
    width: 58px;
    height: 30px;
    padding-left: 5px;
    background: #FFFFFF;
    border: 1px solid #B3B3B3;
    border-radius: 2px;
    box-shadow: 1px 1px 6px rgba(74, 74, 74, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 99;
    cursor: pointer;
}
.to-date .to-date-dot{
    display: inline-block;
    width: 12px;
    height: 12px;
    line-height: 9px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #FF4F4C;
}
.to-date .to-date-dot .to-date-dot-inline{
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #FFFFFF;
}
.to-date .to-date-dot .to-date-dot-inline.active{
    background: #FF4F4C;
}
.to-date .to-date-text{
    width: 30px;
    margin-left:5px;
    display: inline-block;
    font-size: 14px;
}
.resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item .plate-item-tag .tag-first-line span:nth-child(2) input{
    width: 45%;
}
.resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item .plate-item-tag .tag-first-line span:nth-child(1) input{
    width: 100%;
    display: inline-block;
}
.resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item .plate-item-tag .tag-first-line span:nth-child(2) input,
.resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item .plate-item-tag .tag-second-line span:nth-child(2) input{
    text-align: right;
}
.resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item .plate-item-tag .tag-first-line span:nth-child(2) input:nth-child(1){
    text-align: left;
}
.resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item textarea{
    background: inherit;
    border: none;
    padding: 0;
    border-bottom: 1px dashed #FFFFFF;
    height: 100%;
    width: 100%;
    font-size: 16px;
}
.resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item:hover textarea{
    border-bottom:1px solid rgba(80, 164, 255, 0); 
}

.resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item.editable input{
    border-bottom: 1px dashed rgba(80, 163, 255, 0.50);
}
.resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item.editable input:focus{
    border-bottom-color: #FF4F4C;
}
.resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item.editable textarea{
    border-bottom: 1px dashed rgba(80, 163, 255, 0.50);
}
.resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item.editable textarea:focus{
    border-bottom-color: #FF4F4C;
}

.resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item .plate-item-content .expandingArea{
    position:relative;
}
.resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item .plate-item-content .expandingArea pre{
    display:block;
    visibility:hidden;
    padding-top: 0;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0 !important;
    line-height: inherit;
    font-size: inherit;
    overflow-x: hidden; 
}
.resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item .plate-item-content .expandingArea pre div{
    width: 100%;
    height: 100%;
    font-size: 16px;
    display: block;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
}
.resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item .plate-item-content .expandingArea textarea{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    overflow:hidden;
}

/*非标单item样式*/
.resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item.without-form{}
.resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item.without-form .plate-item-tag .tag-first-line span:nth-child(1){
    width: 50%;
    display: inline-block;
}
.resume-editor .resume-editor-content .resume-editor-plate .resume-editor-plate-item.without-form .plate-item-tag .tag-first-line span:nth-child(2){
    width: 50%;
    position: relative;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
}





.resume-editor .page-footer{
    position: absolute;
    bottom: 2px;
    right: 4px;
    color: #FF4F4C;
    font-size: 16px;
}

/*添加模块弹窗样式*/
#add-resume-plate-modal .edit-panel{margin-left: 20px;margin-right: 20px;}
#add-resume-plate-modal .edit-panel .info-title{
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 64px;
}
#add-resume-plate-modal .edit-panel .info-title input{
    width: 100%;
    transition: none;
    -moz-transition: none; /* Firefox 4 */
    -webkit-transition: none; /* Safari 和 Chrome */
    -o-transition: none; 
}
#add-resume-plate-modal .edit-panel .info-title input.disabled{
    width: 130px;
    text-align: center;
}
#add-resume-plate-modal .edit-panel .info-title .info-title-edit-btn{
    font-size: 10px;
    cursor: pointer;
    transition: none;
    -moz-transition: none; /* Firefox 4 */
    -webkit-transition: none; /* Safari 和 Chrome */
    -o-transition: none; 
}
#add-resume-plate-modal .edit-panel .info-title .info-title-edit-btn:hover{
    color: #FF4F4C;
}

#add-resume-plate-modal .edit-panel .info-content{
    width: 100%;
    padding: 0 64px;
}
#add-resume-plate-modal .edit-panel .info-content .info-content-item{
    width: 100%;
}
#add-resume-plate-modal .edit-panel .info-content .info-content-item .info-content-item-tag{
    width: 100%;
    margin: 0px;
    margin-bottom: 20px;
    padding-bottom: 17px;
    border-bottom:1px solid #F5F5F7;
}
#add-resume-plate-modal .edit-panel .info-content .info-content-item .info-content-item-tag .tag-info{
    display: flex;
    flex-direction: column;
    color: #404040;
    font-size: 14px;
}
#add-resume-plate-modal .edit-panel .info-content .info-content-item .info-content-item-tag .tag-ctrl-bar{
    text-align: right;
    padding: 0;
    color: #DCDCDC;
}
#add-resume-plate-modal .edit-panel .info-content .info-content-item .info-content-item-tag .tag-ctrl-bar>span{
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 23px;
    text-align: center;
    border: 1px solid #F5F5F7;
    cursor: pointer;
    transition: color 0s;
    -moz-transition: color 0s; /* Firefox 4 */
    -webkit-transition: color 0s; /* Safari 和 Chrome */
    -o-transition: color 0s; 
}
#add-resume-plate-modal .edit-panel .info-content .info-content-item .info-content-item-tag .tag-ctrl-bar>span:hover{
    color: #F86331;
    border-color: #F86331;
}
#add-resume-plate-modal .edit-panel .info-content .info-content-item .info-content-item-form{
    width: 100%;
}
#add-resume-plate-modal .edit-panel .info-content .info-content-item .info-content-item-form .form-input{
    width: 100%;
    margin-top: 40px;
}
#add-resume-plate-modal .edit-panel .info-content .info-content-item .info-content-item-form .form-input input{
    width: 100%;
}
#add-resume-plate-modal .edit-panel .info-content .info-content-item .info-content-item-form .form-input textarea{
    width: 100%;
    height: 364px;
}
#add-resume-plate-modal .edit-panel .info-content .info-content-item .info-content-item-form .form-input.two-inputs{
    display: inline-flex;
    justify-content: space-between;   
}
#add-resume-plate-modal .edit-panel .info-content .info-content-item .info-content-item-form .form-input.two-inputs input,
#add-resume-plate-modal .edit-panel .info-content .info-content-item .info-content-item-form .form-input.two-inputs select{
    width: 45%;
}
#add-resume-plate-modal .edit-panel .info-content .info-add-item{
    width: 100%;
    margin: 30px 0 0 0; 
}
#add-resume-plate-modal .edit-panel .info-content .info-add-item .info-add-item-btn{
    color: #9C9C9C;
    font-size: 16px;
}
#add-resume-plate-modal .edit-panel .info-content .info-add-item .info-add-item-btn i{
    color: #FF4F4C;
    margin-right: 7px;
}
/*“其他”相关样式*/
#add-resume-plate-modal .other-info-content-item{
    margin-top: 30px;
}
#add-resume-plate-modal .other-info-content-item .item-label{
    width: 100%;
    margin-bottom: 17px;

}
#add-resume-plate-modal .other-info-content-item .item-label .item-label-plus{
    color: #FF4F4C
}
#add-resume-plate-modal .other-info-content-item .item-content-tag{
    width: 100%;
    margin: 0px;
    margin-bottom: 20px;
    padding-bottom: 17px;
    border-bottom:1px solid #F5F5F7;
}
#add-resume-plate-modal .other-info-content-item .item-content-tag .tag-info{
    padding: 0;
    color: #404040;
    font-size: 14px;
}
#add-resume-plate-modal .other-info-content-item .item-content-tag .tag-ctrl-bar{
    text-align: right;
    padding: 0;
    color: #DCDCDC;
}
#add-resume-plate-modal .other-info-content-item .item-content-tag .tag-ctrl-bar>span{
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 23px;
    text-align: center;
    border: 1px solid #F5F5F7;
    cursor: pointer;
}
#add-resume-plate-modal .other-info-content-item .item-content .item-content-form{
    margin-top: 24px; 
    display: flex;
    justify-content: space-between;
}
#add-resume-plate-modal .other-info-content-item .item-content .item-content-form input:nth-child(1){
    width: 25%
}
#add-resume-plate-modal .other-info-content-item .item-content .item-content-form input:nth-child(2){
    width: 70%
}


#add-resume-plate-modal .edit-panel .info-footer{
    width: 100%;
    margin: 0 auto;
    padding: 0 64px;
    padding-bottom: 43px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
#add-resume-plate-modal .edit-panel .info-footer .info-footer-close input{ 
    width: 90px;
    height: 40px;
    line-height: 18px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #F5F5F7;
    border-radius: 2px;
    color: #9C9C9C;
    font-size: 16px;
}
#add-resume-plate-modal .edit-panel .info-footer .info-footer-close input:hover{
    background-color: #F5F5F7;
}
#add-resume-plate-modal .edit-panel .info-footer .info-footer-save input{
    width: 90px;
    height: 40px;
    line-height: 18px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #F5F5F7;
    border-radius: 2px;
    color: #FFFFFF;
    font-size: 16px;
    background-color: rgb(255, 79, 76);
}
#add-resume-plate-modal .edit-panel .info-footer .info-footer-save input:hover{
    background-color: rgba(255, 79, 76, 0.85)
}